<!DOCTYPE html>
<html class="home-html-height">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>EasyFIS</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Home-css")
</head>
<body id="page-top" class="home-body-height">
    <nav id="nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="~/Images/logo/easyfislogo.png" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <header class="homeHeader">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Easy Financial Information System</h1>
                <hr>
                <p>The easiest way to manage your sales, purchases, disbursements, collections, inventories and financials in the cloud using any device.</p>
                @Html.Partial("_HomeIndex")
            </div>
        </div>
    </header>

    <section id="features">
        <div class=" section-pad-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <div class="panel panel-theme">
                            <i class="fa fa-tags fa-fw fa-4x"></i> 
                            <h4>Sales</h4>
                        </div>
                        <p class="feature-item">
                            Sell your products and services using the cloud.  Manage your receivables and collection online.
                        </p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="~/Images/sectionImages/dog.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class=" section-pad-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <div class="panel panel-theme">
                            <h3><i class="fa fa-clipboard fa-fw"></i> Purchases and Expenses</h3>
                        </div>
                        <p class="feature-item">
                            Make purchases and pay expenses using the cloud.  Manage your payables and disbursement online.
                        </p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="~/Images/sectionImages/dog.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class=" section-pad-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <div class="panel panel-theme">
                            <h3><i class="fa fa-print fa-fw"></i> Inventory</h3>
                        </div>
                        <p class="feature-item">
                            Manage product inventory on multiple branches and warehouse locations.  Setup multiple units per products for easier transactions.
                        </p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="~/Images/sectionImages/dog.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class=" section-pad-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <div class="panel panel-theme">
                            <h3><i class="fa fa-print fa-fw"></i> Finance</h3>
                        </div>
                        <p class="feature-item">
                            Show real-time financial statements with supporting ledgers in the cloud.  Automated bookeeping process for all transactions.
                        </p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="~/Images/sectionImages/dog.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class=" section-pad-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <div class="panel panel-theme">
                            <h3><i class="fa fa-building fa-fw"></i> Multiple Company and Branches</h3>
                        </div>
                        <p class="feature-item">
                            Setup unlimited company with corressponding branches.
                        </p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="~/Images/sectionImages/dog.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="aboutSection" id="about">
        <div class="container">
            <h2>About our Clients</h2>
            <p>30 and growing</p>
        </div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/asiatemp.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/davinci.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/dreambuilders.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/matutum.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/mixandmagic.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/nutech.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/orangebrutus.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/reyken.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/saintpaul.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/seacrest.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/sonnet.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/subzero.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/asiatemp.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/davinci.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/dreambuilders.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/matutum.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/mixandmagic.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/nutech.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/orangebrutus.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/reyken.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/saintpaul.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/seacrest.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/sonnet.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                            <div class="col-lg-1">
                                <center>
                                    <a href="#">
                                        <img src="~/Images/clientlogos/subzero.png" class="filter" height="60" alt="">
                                    </a>
                                </center>
                                <br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" align="center">
            <!-- Left and right controls -->
            <a class="left btn btn-default" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="right btn btn-default" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
        <br /><br />
    </section>

    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-white">
                        <h2 class="">Contact Us!</h2>
                        <br />
                        <p>
                            Ready to subscribe with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
                        </p>
                        <br /><br />
                        <p><i class="fa fa-phone fa-fw"></i> (032) 266 3773</p>
                        <p><i class="fa fa-envelope-o fa-fw" data-wow-delay=".1s"></i> info@innosoft.ph</p>
                        <br />
                        For More Information: <br />
                        <a href="http://www.innosoft.ph" target="_blank"><span class="label label-info"><i class="fa fa-info fa-fw"></i> Innosft</span></a>
                        <a href="#" target="_blank"><span class="label label-info"><i class="fa fa-twitter fa-fw"></i> Twiiter</span></a>
                        <a href="#" target="_blank"><span class="label label-info"><i class="fa fa-linkedin fa-fw"></i>Linked-In</span></a>
                        <br /><br />
                    </div>
                </div>
                <div class="col-md-8">
                    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
                    <div class="img-responsive img-thumbnail" style='overflow: hidden; height: 440px; width: 100%;'>
                        <div id='gmap_canvas' style='height: 440px; width: 100%;'></div>
                        <div>
                            <small>
                                <a href="http://embedgooglemaps.com">
                                    embed google maps
                                </a>
                            </small>
                        </div>
                        <div>
                            <small>
                                <a href="https://privacypolicygenerator.info">
                                    privacy policy generator
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-custom">
        <div class="container-fluid" align="center">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#" class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Like us on Facebook"><i class="fa fa-facebook-official"></i> </a>
                    <a href="#" class="btn btn-info" data-placement="right" data-toggle="tooltip" title="Follow us on twitter"><i class="fa fa-twitter"></i> </a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <label>EasyFISv2 © Cebu Innosoft Solutions Inc. All rights reserved.</label>
                </div>
            </div>
        </div>
    </footer>

    <!-- Modal for Signout -->
    <div class="modal fade" id="modalLogout" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Logout <i class="fa fa-sign-out"></i></h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to logout?
                </div>
                <div class="modal-footer">
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-primary"><i class="fa fa-sign-out"></i> Logout</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Home-js")
    <script type='text/javascript'>
        function init_map() {
            var myOptions = {
                zoom: 17,
                center: new google.maps.LatLng(10.315699199999994, 123.88543660000008),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
            marker = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(10.315699199999994, 123.88543660000008)
            });

            infowindow = new google.maps.InfoWindow({
                content: '<strong>Cebu Innosoft Solutions Inc.</strong><br>Innosoft Bldg. Corner V. Rama Avenue & R. Duterte St. Guadalupe, Cebu City<br>'
            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });

            infowindow.open(map, marker);
        }

        google.maps.event.addDomListener(window, 'load', init_map);

        $("#btnMoreInfoSales").popover({
            html: true,
            content: function () {
                return $('#popover-content-sales').html();
            }
        });

        $("#btnMoreInfoPurchases").popover({
            html: true,
            content: function () {
                return $('#popover-content-purchases').html();
            }
        });

        $("#btnMoreInfoInventory").popover({
            html: true,
            content: function () {
                return $('#popover-content-inventory').html();
            }
        });

        $("#btnMoreInfoFinancials").popover({
            html: true,
            content: function () {
                return $('#popover-content-financials').html();
            }
        });

        $("#btnMoreInfoUserSetup").popover({
            html: true,
            content: function () {
                return $('#popover-content-usersetup').html();
            }
        });
    </script>
</body>
</html>