@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    <a href="@Url.Action("Index", "Manage")" class="btn btn-primary btn-lg btn-xl">Get Started</a>
}
else
{
    <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg btn-xl">Get Started</a>
}
