@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    @*<a href="@Url.Action("Index", "Manage")" class="btn btn-primary btn-lg btn-fill btn-round">Start</a>*@
}
else
{
    @*<a href="@Url.Action("Register", "Account")" class="btn btn-success btn-lg btn-fill btn-round">Sign up for free!</a>*@
}
