<!-- Footer -->
<footer>
    <!-- cover page support -->
    <div class="cover-photo-footer-custom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#" class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Like us on Facebook"><i class="fa fa-facebook-official"></i> Facebook</a>
                    <a href="#" class="btn btn-info" data-placement="right" data-toggle="tooltip" title="Follow us on twitter"><i class="fa fa-twitter"></i> Twitter</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <p>EasyFIS - version 2 - © Cebu Innosoft Solutions Corp.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End of cover page support -->
</footer>