<footer class="footer-custom-userAuthentication">
    <div class="container-fluid" align="center">
        <div class="row">
            <div class="col-lg-12">
                <a href="#" class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Like us on Facebook"><i class="fa fa-facebook-official"></i> </a>
                <a href="#" class="btn btn-info" data-placement="right" data-toggle="tooltip" title="Follow us on twitter"><i class="fa fa-twitter"></i> </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <label>EasyFISv2 © Cebu Innosoft Solutions Inc. All rights reserved.</label>
            </div>
        </div>
    </div>
</footer>