<header class="main-header">
    <a href="/Home" class="logo">
        <div class="logo-mini">
            <img src="~/Images/logo/fab.png" style="border-radius: 0px !important;" class="img-thumbnail softwareminilogo" />
        </div>
        <div class="logo-lg">
            <img src="~/Images/logo/easyfislogo.png" class="softwarelogo" />
        </div>
    </a>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        @Html.Partial("_SoftwareLoginPartial")
    </nav>
</header>

<div class="modal fade" id="modalLogout" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Logout <i class="fa fa-sign-out"></i></h4>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-primary btn-sm"><i class="fa fa-sign-out"></i> Logout</a>
                <button class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- No Rights Lock -->
<div class="modal fade" id="noRights" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">No Rights <i class="fa fa-warning"></i></h4>
            </div>
            <div class="modal-body">
                Sorry, you have no rights to access this page. Please contact the Administrator.
            </div>
            <div class="modal-footer">
                <button id="btnNoRights" onclick="btnNoRightsOnclick()" class="btn btn-primary btn-sm"> Okay</button>
            </div>
        </div>
    </div>
</div>
