<!-- header navbar menu -->
<header>
    <nav id="mainNav" class="navbar navbar-default userAuthentication navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/Home">
                    <img src="~/Images/logo/easyfislogo.png" class="softwarelogo" />
                </a>
                <button id="c-button--slide-left" class="btn-menu-link"><i class="fa fa-bars fa-2x"></i></button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
</header>

<!-- sidebar collapse menu -->
<nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
    <div class="panel-group panel-group-menu" id="accordion">
        <div class="panel panel-default panel-side">
            <div class="panel-heading panel-heading-menu">
                <a href="#index" class="panel-link-menu c-menu__close">
                    <h4 class="panel-title">
                        <i class="fa fa-arrow-left fa-fw"></i> &nbsp; Close Menu
                    </h4>
                </a>
            </div>
        </div>
        <div class="panel panel-default panel-side">
            <div class="panel-heading panel-heading-menu">
                <a href="/Manage" class="panel-link-menu">
                    <h4 class="panel-title">
                        <i class="fa fa-gear fa-fw"></i> &nbsp; Manage Settings
                    </h4>
                </a>
            </div>
        </div>
        <div class="panel panel-default panel-side">
            <div class="panel-heading panel-heading-menu">
                <a href="/Software" class="panel-link-menu">
                    <h4 class="panel-title">
                        <i class="fa fa-dashboard fa-fw"></i> &nbsp; Main Menu
                    </h4>
                </a>
            </div>
        </div>
        <div class="panel panel-default panel-side">
            <div class="panel-heading panel-heading-menu">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="panel-link-menu">
                    <h4 class="panel-title">
                        <i class="fa fa-wrench fa-fw"></i> &nbsp; Setup <i class="fa fa-chevron-down pull-right"></i>
                    </h4>
                </a>
            </div>
            <div id="collapse1" class="panel-collapse collapse panel-collapse-menu">
                <div class="panel-body panel-body-menu">
                    <ul class="panel-list-menu">
                        <li><a href="/Software/Supplier"><img src="~/Images/svgIcons/businessman.svg" class="svg-icon-style-side-menu" /> Supplier</a></li>
                        <li><a href="/Software/Customer"><img src="~/Images/svgIcons/conference_call.svg" class="svg-icon-style-side-menu" /> Customer</a></li>
                        <li><a href="/Software/Items"><img src="~/Images/svgIcons/paid.svg" class="svg-icon-style-side-menu" /> Item</a></li>
                        <li><a href="/Software/Bank"><img src="~/Images/svgIcons/library.svg" class="svg-icon-style-side-menu" /> Bank</a></li>
                        <li><a href="/Software/ChartOfAccounts"><img src="~/Images/svgIcons/todo_list.svg" class="svg-icon-style-side-menu" /> Chart of Accounts</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-side">
            <div class="panel-heading panel-heading-menu">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="panel-link-menu">
                    <h4 class="panel-title">
                        <i class="fa fa-desktop fa-fw"></i> &nbsp; System <i class="fa fa-chevron-down pull-right"></i>
                    </h4>
                </a>
            </div>
            <div id="collapse2" class="panel-collapse collapse  panel-collapse-menu">
                <div class="panel-body">
                    <ul>
                        <li><a href="/Software/Company"><img src="~/Images/svgIcons/organization.svg" class="svg-icon-style-side-menu" /> Company</a></li>
                        <li><a href="/Software/Users"><img src="~/Images/svgIcons/key.svg" class="svg-icon-style-side-menu" /> User</a></li>
                        <li><a href="/Software/SystemTables"><img src="~/Images/svgIcons/grid.svg" class="svg-icon-style-side-menu" /> System Tables</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-side">
            <div class="panel-heading panel-heading-menu">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="panel-link-menu">
                    <h4 class="panel-title">
                        <i class="fa fa-line-chart fa-fw"></i> &nbsp; Activity <i class="fa fa-chevron-down pull-right"></i>
                    </h4>
                </a>
            </div>
            <div id="collapse3" class="panel-collapse collapse panel-collapse-menu">
                <div class="panel-body">
                    <ul>
                        <li><a href="/Software/PurchaseOrder"><img src="~/Images/svgIcons/inspection.svg" class="svg-icon-style-side-menu" /> Purchase Order</a></li>
                        <li><a href="/Software/ReceivingReceipt"><img src="~/Images/svgIcons/shipped.svg" class="svg-icon-style-side-menu" /> Receiving Receipt</a></li>
                        <li><a href="/Software/Sales"><img src="~/Images/svgIcons/approval.svg" class="svg-icon-style-side-menu" /> Sales</a></li>
                        <li><a href="/Software/Disbursement"><img src="~/Images/svgIcons/money_transfer.svg" class="svg-icon-style-side-menu" /> Disbursement</a></li>
                        <li><a href="/Software/Collection"><img src="~/Images/svgIcons/sales_performance.svg" class="svg-icon-style-side-menu" /> Collection</a></li>
                        <li><a href="/Software/StockIn"><img src="~/Images/svgIcons/internal.svg" class="svg-icon-style-side-menu" /> Stock-In</a></li>
                        <li><a href="/Software/StockOut"><img src="~/Images/svgIcons/external.svg" class="svg-icon-style-side-menu" /> Stock-Out</a></li>
                        <li><a href="/Software/StockTransfer"><img src="~/Images/svgIcons/refresh.svg" class="svg-icon-style-side-menu" /> Stock Transfer</a></li>
                        <li><a href="/Software/StockCount"><img src="~/Images/svgIcons/kindle.svg" class="svg-icon-style-side-menu" /> Stock Count</a></li>
                        <li><a href="/Software/JournalVoucher"><img src="~/Images/svgIcons/rules.svg" class="svg-icon-style-side-menu" /> Journal Voucher</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-side">
            <div class="panel-heading panel-heading-menu">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="panel-link-menu">
                    <h4 class="panel-title">
                        <i class="fa fa-print fa-fw"></i> &nbsp; Reports <i class="fa fa-chevron-down pull-right"></i>
                    </h4>
                </a>
            </div>
            <div id="collapse4" class="panel-collapse collapse panel-collapse-menu">
                <div class="panel-body">
                    <ul>
                        <li><a href="/Software/AccountsPayable"><img src="~/Images/svgIcons/print.svg" class="svg-icon-style-side-menu" /> Accounts Payable</a></li>
                        <li><a href="/Software/AccountsReceivable"><img src="~/Images/svgIcons/print.svg" class="svg-icon-style-side-menu" /> Accounts Receivable</a></li>
                        <li><a href="/Software/InventoryReport"><img src="~/Images/svgIcons/print.svg" class="svg-icon-style-side-menu" /> Inventory Report</a></li>
                        <li><a href="/Software/FinancialStatements"><img src="~/Images/svgIcons/print.svg" class="svg-icon-style-side-menu" /> Financial Statements</a></li>
                        <li><a href="/Software/BankReconciliation"><img src="~/Images/svgIcons/print.svg" class="svg-icon-style-side-menu" /> Bank Reconciliation</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- modal logout confirmation -->
<div class="modal fade" id="modalLogout" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Logout </h4>
            </div>
            <div class="modal-body">
                Logout?
            </div>
            <div class="modal-footer">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-primary"><i class="fa fa-power-off fa-fw"></i> Logout</a>
                <button class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>
