<!-- Footer -->
<footer class="footer">
    <!-- Software footer -->
    <div class="cover-photo-footer-custom">
        <div class="container">
            <div class="row">
                <div class="footer-space">
                    <div class="col-md-7">
                        <label class="stampDetailCustom">EASY FINANCIAL INCOME STATEMENT (EasyFIS)</label>
                        <br />
                        <label class="labelUserDetailCustom">Version: </label><span class="stampDetailCustom"> 2.0</span>
                        <br />
                        <label class="labelUserDetailCustom">Copyright © Cebu Innosoft Solutions Corporation</label>
                        <br />
                        <label class="labelUserDetailCustom">Contact us: </label><span class="stampDetailCustom"> 222-4444</span>
                    </div>
                    <div class="col-md-5">
                        <label class="labelUserDetailCustom">Created by:</label>
                        <span class="stampDetailCustom" id="createdBy"></span>
                        <br />

                        <label class="labelUserDetailCustom">Created date:</label>
                        <span class="stampDetailCustom" id="createdDate"></span>
                        <br />

                        <label class="labelUserDetailCustom">Updated by:</label>
                        <span class="stampDetailCustom" id="updatedBy"></span>
                        <br />

                        <label class="labelUserDetailCustom">Updated date:</label>
                        <span class="stampDetailCustom" id="updatedDate"></span>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of footer in Software -->
</footer>