<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <label class="stampDetailCustom">EASY FINANCIAL INFORMATION SYSTEM (Easyfis)</label>
                <br />
                <label class="labelUserDetailCustom">Version: </label><span class="stampDetailCustom"> 2.0 - 20160618</span>
                <br />
                <label class="labelUserDetailCustom">Developer: </label><span class="stampDetailCustom"> Cebu Innosoft Solutions Services Inc.</span>
                <br />
                <label class="labelUserDetailCustom">Contact us: </label><span class="stampDetailCustom"> (032) 266 3773</span>
            </div>
            <div class="col-md-5">
                <label class="labelUserDetailCustom">Created by:</label>
                <span class="stampDetailCustom" id="createdBy"></span>
                <br />

                <label class="labelUserDetailCustom">Created date:</label>
                <span class="stampDetailCustom" id="createdDate"></span>
                <br />

                <label class="labelUserDetailCustom">Updated by:</label>
                <span class="stampDetailCustom" id="updatedBy"></span>
                <br />

                <label class="labelUserDetailCustom">Updated date:</label>
                <span class="stampDetailCustom" id="updatedDate"></span>
                <br />
            </div>
        </div>
    </div>
</footer>