<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="">
                <a href="/Software">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-wrench"></i>
                    <span>Setup</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Software/Supplier"> Supplier</a></li>
                    <li><a href="/Software/Customer"> Customer</a></li>
                    <li><a href="/Software/Items"> Item</a></li>
                    <li><a href="/Software/Bank"> Bank</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-desktop"></i>
                    <span>System</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Software/Company"> Company</a></li>
                    <li><a href="/Software/Users"> User</a></li>
                    <li><a href="/Software/SystemTables"> System Tables</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bar-chart"></i>
                    <span>Activty</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Software/PurchaseOrder"> Purchase Order</a></li>
                    <li><a href="/Software/ReceivingReceipt"> Receiving Receipt</a></li>
                    <li><a href="/Software/Disbursement"> Disbursement</a></li>
                    <li><a href="/Software/Sales"> Sales</a></li>
                    <li><a href="/Software/Collection"> Collection</a></li>
                    <li><a href="/Software/StockIn"> Stock In</a></li>
                    <li><a href="/Software/StockOut"> Stock Out</a></li>
                    <li><a href="/Software/StockTransfer"> Stock Transfer</a></li>
                    <li><a href="/Software/StockCount"> Stock Count</a></li>
                    <li><a href="/Software/JournalVoucher"> Journal Voucher</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-print"></i>
                    <span>Reports</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Software/AccountsPayable"> Accounts Payable</a></li>
                    <li><a href="/Software/AccountsReceivable"> Accounts Receivable</a></li>
                    <li><a href="/Software/InventoryReport"> Inventory Report</a></li>
                    <li><a href="/Software/FinancialStatements"> Financial Statements</a></li>
                    <li><a href="/Software/BankReconciliation"> Bank Reconciliation</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>