<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Some slide and push menu demos using CSS3 transitions.">

    <!-- Title of the Page -->
    <title>Software Dashboard</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Font-Awesome/css")
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="wrapper" class="wrapper">
        <!-- Header -->
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="navbar-brand"> ERP System</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#"><i class="fa fa-gear"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Section -->
        <section>
            <br><br><br>
            <div class="container">
                <button id="c-button--push-left" class="btn btn-default"><i class="fa fa-bars"></i> Software Dashboard Menu</button><br><br>
                <div class="jumbotron">
                    <div class="row">
                        <!-- First Vertical Row -->
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <a class="btn-masterlist btn-dashboard button--masterlist" href="#">Supplier</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="#">Purchase Order</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="#">Receiving Receipt</a>
                            <a class="btn-reports btn-dashboard button--reports" href="#">Accounts Payable</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="#">Disbursement</a>
                            <a class="btn-masterlist btn-dashboard  button--masterlist" href="#">Bank</a>
                        </div>
                        <!-- Second Vertical Row -->
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <a class="btn-masterlist btn-dashboard button--masterlist" href="#">Customer</a>
                            <a class="btn-submenu btn-sale button--submenu" href="#">Sales</a>
                            <a class="btn-reports btn-dashboard button--reports" href="#">Accounts Receivable</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="#">Collection</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="#">Bank Reconciliation</a>
                        </div>
                        <!-- Third Vertical Row -->
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <a class="btn-masterlist btn-dashboard button--masterlist" href="#">Items</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="#">Stock In</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="#">Stock Out</a>
                            <a class="btn-reports btn-dashboard button--reports" href="#">Inventory Report</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="#">Stock Transfer</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="#">System Tables</a>
                        </div>
                        <!-- Fourt Vertical Table-->
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <a class="btn-masterlist btn-dashboard button--masterlist" href="#">Chart of Accounts</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="#">Journal Voucher</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="#">Comapany</a>
                            <a class="btn-reports btn-dashboard button--reports" href="#">Financial Statements</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="#">Users</a>
                            <a class="btn-submenu btn-dashboard button--submenu" href="#">Settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- SideBar Menu -->
    <nav id="c-menu--push-left" class="c-menu c-menu--push-left">
        <h3 class="c-menu__close"><i class="fa fa-bars"></i> Dashboard Menu</h3>
        <ul class="menu-items">
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-truck "></i> Supplier</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Purchase Order</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Receiving Receipt</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Accounts Payable</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Disbursement</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Bank</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Customer</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Sales</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Accounts Receivable</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Collection</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Bank Reconciliation</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Items</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Stock In</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Stock Out</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Inventory Report</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Stock Transfer</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> System Tables</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Chart of Accounts</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Journal Voucher</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Comapany</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Financial Statements</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Users</a></li>
            <li class="menu-items"><a href="#" class="menu-link sidebar-menu-link"><i class="fa fa-bars"></i> Settings</a></li>
        </ul>
    </nav><!-- /c-menu push-left -->

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->

    @Scripts.Render("~/Scripts/Software-js")
</body>
</html>