/* -- Backgrounds -- */
.wj-content:not(.customEdit),
div[wj-part='cells'] {
  color: #e6e6e6;
  background: #444444;
  background-image: -ms-linear-gradient(bottom, #444444 0%, #636363 100%);
  background-image: -moz-linear-gradient(bottom, #444444 0%, #636363 100%);
  background-image: -o-linear-gradient(bottom, #444444 0%, #636363 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #444444), color-stop(1, #636363));
  background-image: -webkit-linear-gradient(bottom, #444444 0%, #636363 100%);
  background-image: linear-gradient(to top, #444444 0%, #636363 100%);
}
.wj-content:not(.customEdit) .wj-input-group .wj-form-control {
  color: #e6e6e6;
  background: #444444;
}
.wj-listbox-item:not(.wj-state-selected):hover {
  background: rgba(255, 255, 255, 0.05);
}
/* -- Headers -- */
.wj-header {
  background: #444444;
  color: #ffffff;
  background-image: -ms-linear-gradient(bottom, #444444 0%, #636363 100%);
  background-image: -moz-linear-gradient(bottom, #444444 0%, #636363 100%);
  background-image: -o-linear-gradient(bottom, #444444 0%, #636363 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #444444), color-stop(1, #636363));
  background-image: -webkit-linear-gradient(bottom, #444444 0%, #636363 100%);
  background-image: linear-gradient(to top, #444444 0%, #636363 100%);
}
.wj-flexgrid .wj-group {
  background: #c3c3c3;
  color: #000000;
}
.wj-flexgrid .wj-marker {
  background: #ff6a00;
}
/* -- Grid -- */
div[wj-part='root'] {
  background: #373737;
}
.wj-state-selected {
  background: #ff6a00;
  color: #ffffff;
}
.wj-state-multi-selected {
  background: #ad5a1f;
  color: #ffffff;
}
.wj-input-group .wj-form-control,
.wj-grid-editor {
  background: #fff;
  color: #000000;
}
div[wj-part='rhcells'] .wj-header {
  background: #444444;
}
.wj-cell:not(.wj-frozen-col):not(.wj-frozen-row):not(.wj-frozen) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
[dir="rtl"] .wj-cell {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Default grid cell color */
  background: #444444;
}
.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate grid cell color */
  background: #515151;
}
.wj-frozen:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Default frozen cell color */
  background: #3a4d59;
  color: #dddddd;
}
.wj-frozen.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate frozen cell color */
  background: #445a68;
  color: #dddddd;
}
.wj-frozen-row {
  border-bottom-color: #e6e6e6;
  border-width: 1px;
}
.wj-frozen-col {
  border-right-color: #e6e6e6;
  border-width: 1px;
}
/* -- Buttons -- */
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn {
  background: #555555;
  color: #ffffff;
  background-image: -ms-linear-gradient(bottom, #555555 0%, #747474 100%);
  background-image: -moz-linear-gradient(bottom, #555555 0%, #747474 100%);
  background-image: -o-linear-gradient(bottom, #555555 0%, #747474 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #555555), color-stop(1, #747474));
  background-image: -webkit-linear-gradient(bottom, #555555 0%, #747474 100%);
  background-image: linear-gradient(to top, #555555 0%, #747474 100%);
}
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn:hover,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn:hover {
  background: #6f6f6f;
  color: #ffffff;
}
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn:focus,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn:focus {
  background: #6f6f6f;
  color: #ffffff;
}
.wj-content:not(.customEdit):not(.wj-dropdown-panel):not(.wj-listbox):not(.wj-flexgrid):not(.wj-calendar-outer) {
  border: 0 solid rgba(0, 0, 0, 0.2);
}
.wj-btn-default {
  border: 0 solid rgba(0, 0, 0, 0.2);
}
.wj-input-group-btn > .wj-btn {
  border: 0;
}
/* -- Border Radii -- */
.wj-content,
.wj-input-group,
.wj-btn-group,
.wj-btn-group-vertical,
.wj-tooltip,
.customEdit {
  border-radius: 4px;
}
/* -- Tooltip -- */
.wj-tooltip {
  background: #e5d8cf;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* -- Gauges -- */
.wj-gauge .wj-pointer path {
  fill: #ff6a00;
}
.wj-frozen-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.wj-frozen-col {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

