/* -- Backgrounds -- */
.wj-content:not(.customEdit),
div[wj-part='cells'] {
  color: #444444;
  background: #ffffff;
}
.wj-content:not(.customEdit) .wj-input-group .wj-form-control {
  color: #444444;
  background: #ffffff;
}
.wj-listbox-item:not(.wj-state-selected):hover {
  background: rgba(0, 0, 0, 0.04);
}
/* -- Headers -- */
.wj-header {
  background: #49525d;
  color: #ffffff;
}
.wj-flexgrid .wj-group {
  background: #e9ebed;
  color: #3c434b;
}
.wj-flexgrid .wj-marker {
  background: #70b3af;
}
/* -- Grid -- */
div[wj-part='root'] {
  background: #f2f2f2;
}
.wj-state-selected {
  background: #70b3af;
  color: #ffffff;
}
.wj-state-multi-selected {
  background: #8cc2c0;
  color: #ffffff;
}
.wj-input-group .wj-form-control,
.wj-grid-editor {
  background: #fff;
  color: #000000;
}
div[wj-part='rhcells'] .wj-header {
  background: #49525d;
}
.wj-cell:not(.wj-frozen-col):not(.wj-frozen-row):not(.wj-frozen) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
[dir="rtl"] .wj-cell {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Default grid cell color */
  background: #ffffff;
}
.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate grid cell color */
  background: #f2f2f2;
}
.wj-frozen:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Default frozen cell color */
  background: #ebebeb;
  color: #444444;
}
.wj-frozen.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate frozen cell color */
  background: #dedede;
  color: #444444;
}
.wj-frozen-row {
  border-bottom-color: #444444;
  border-width: 1px;
}
.wj-frozen-col {
  border-right-color: #444444;
  border-width: 1px;
}
/* -- Buttons -- */
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn {
  background: #f48027;
  color: #ffffff;
}
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn:hover,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn:hover {
  background: #db7323;
  color: #ffffff;
}
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn:focus,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn:focus {
  background: #db7323;
  color: #ffffff;
}
.wj-content:not(.customEdit):not(.wj-dropdown-panel):not(.wj-listbox):not(.wj-flexgrid):not(.wj-calendar-outer) {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.wj-btn-default {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.wj-input-group-btn > .wj-btn {
  border: 1px;
}
/* -- Border Radii -- */
.wj-content,
.wj-input-group,
.wj-btn-group,
.wj-btn-group-vertical,
.wj-tooltip,
.customEdit {
  border-radius: 0;
}
/* -- Tooltip -- */
.wj-tooltip {
  background: #a9a9a9;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* -- Gauges -- */
.wj-gauge .wj-pointer path {
  fill: #70b3af;
}
div[wj-part='cells'] {
  box-shadow: inset 30px 0px 100px #f8f8f8;
}
div[wj-part='chcells'] .wj-cell.wj-header {
  border-bottom: 1px solid #e3e3e3;
}
.grid {
  border: 1px solid #e3e3e3 !important;
}
.wj-cell,
.wj-controll:not(.wj-pager) .wj-input-group .wj-form-control {
  padding-left: 15px;
  padding-right: 15px;
}
.wj-dropdown-panel {
  outline: none;
  box-shadow: none;
}
.wj-cell.wj-frozen {
  border: 0;
}
.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate grid cell color */
  background: #ffffff;
}
.wj-frozen-col {
  border: 0;
}

