/* -- Backgrounds -- */
.wj-content:not(.customEdit),
div[wj-part='cells'] {
  color: #ffffff;
  background: #424242;
}
.wj-content:not(.customEdit) .wj-input-group .wj-form-control {
  color: #ffffff;
  background: #424242;
}
.wj-listbox-item:not(.wj-state-selected):hover {
  background: rgba(255, 255, 255, 0.05);
}
/* -- Headers -- */
.wj-header {
  background: #222222;
  color: #ffffff;
}
.wj-flexgrid .wj-group {
  background: #777777;
  color: #dddddd;
}
.wj-flexgrid .wj-marker {
  background: #2a9fd6;
}
/* -- Grid -- */
div[wj-part='root'] {
  background: #353535;
}
.wj-state-selected {
  background: #2a9fd6;
  color: #ffffff;
}
.wj-state-multi-selected {
  background: #77afc9;
  color: #ffffff;
}
.wj-input-group .wj-form-control,
.wj-grid-editor {
  background: #fff;
  color: #000000;
}
div[wj-part='rhcells'] .wj-header {
  background: #222222;
}
.wj-cell:not(.wj-frozen-col):not(.wj-frozen-row):not(.wj-frozen) {
  border-right: 0px solid rgba(0, 0, 0, 0.2);
  border-bottom: 0px solid rgba(0, 0, 0, 0.2);
}
[dir="rtl"] .wj-cell {
  border-left: 0px solid rgba(0, 0, 0, 0.2);
}
.wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Default grid cell color */
  background: #424242;
}
.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate grid cell color */
  background: #4f4f4f;
}
.wj-frozen:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Default frozen cell color */
  background: #66b308;
  color: #ffffff;
}
.wj-frozen.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate frozen cell color */
  background: #74cb09;
  color: #ffffff;
}
.wj-frozen-row {
  border-bottom-color: #ffffff;
  border-width: 0px;
}
.wj-frozen-col {
  border-right-color: #ffffff;
  border-width: 0px;
}
/* -- Buttons -- */
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn {
  background: #424242;
  color: #ffffff;
}
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn:hover,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn:hover {
  background: #282828;
  color: #ffffff;
}
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn:focus,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn:focus {
  background: #282828;
  color: #ffffff;
}
.wj-content:not(.customEdit):not(.wj-dropdown-panel):not(.wj-listbox):not(.wj-flexgrid):not(.wj-calendar-outer) {
  border: 0px solid rgba(0, 0, 0, 0.2);
}
.wj-btn-default {
  border: 0px solid rgba(0, 0, 0, 0.2);
}
.wj-input-group-btn > .wj-btn {
  border: 0px;
}
/* -- Border Radii -- */
.wj-content,
.wj-input-group,
.wj-btn-group,
.wj-btn-group-vertical,
.wj-tooltip,
.customEdit {
  border-radius: 4px;
}
/* -- Tooltip -- */
.wj-tooltip {
  background: #202020;
  color: #bbbbbb;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* -- Gauges -- */
.wj-gauge .wj-pointer path {
  fill: #2a9fd6;
}
.wj-cell.wj-frozen {
  border: 0;
}

