/* -- Backgrounds -- */
.wj-content:not(.customEdit),
div[wj-part='cells'] {
  color: #ffffff;
  background: #2b3e50;
}
.wj-content:not(.customEdit) .wj-input-group .wj-form-control {
  color: #ffffff;
  background: #2b3e50;
}
.wj-listbox-item:not(.wj-state-selected):hover {
  background: rgba(255, 255, 255, 0.05);
}
/* -- Headers -- */
.wj-header {
  background: #1b2d3d;
  color: #ffffff;
}
.wj-flexgrid .wj-group {
  background: #4e5d6c;
  color: #101b25;
}
.wj-flexgrid .wj-marker {
  background: #5cb85c;
}
/* -- Grid -- */
div[wj-part='root'] {
  background: #293138;
}
.wj-state-selected {
  background: #5cb85c;
  color: #ffffff;
}
.wj-state-multi-selected {
  background: #8bc08b;
  color: #ffffff;
}
.wj-input-group .wj-form-control,
.wj-grid-editor {
  background: #fff;
  color: #000000;
}
div[wj-part='rhcells'] .wj-header {
  background: #1b2d3d;
}
.wj-cell:not(.wj-frozen-col):not(.wj-frozen-row):not(.wj-frozen) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
[dir="rtl"] .wj-cell {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Default grid cell color */
  background: #2b3e50;
}
.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate grid cell color */
  background: #344b61;
}
.wj-frozen:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Default frozen cell color */
  background: #4e5d6c;
  color: #ffffff;
}
.wj-frozen.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate frozen cell color */
  background: #596a7b;
  color: #ffffff;
}
.wj-frozen-row {
  border-bottom-color: #ffffff;
  border-width: 1px;
}
.wj-frozen-col {
  border-right-color: #ffffff;
  border-width: 1px;
}
/* -- Buttons -- */
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn {
  background: #df691a;
  color: #ffffff;
}
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn:hover,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn:hover {
  background: #b15315;
  color: #ffffff;
}
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn:focus,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn:focus {
  background: #b15315;
  color: #ffffff;
}
.wj-content:not(.customEdit):not(.wj-dropdown-panel):not(.wj-listbox):not(.wj-flexgrid):not(.wj-calendar-outer) {
  border: 0px solid rgba(0, 0, 0, 0.2);
}
.wj-btn-default {
  border: 0px solid rgba(0, 0, 0, 0.2);
}
.wj-input-group-btn > .wj-btn {
  border: 0px;
}
/* -- Border Radii -- */
.wj-content,
.wj-input-group,
.wj-btn-group,
.wj-btn-group-vertical,
.wj-tooltip,
.customEdit {
  border-radius: 0px;
}
/* -- Tooltip -- */
.wj-tooltip {
  background: #4e5d6c;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* -- Gauges -- */
.wj-gauge .wj-pointer path {
  fill: #5cb85c;
}
.wj-frozen-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.wj-frozen-col {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

