/* -- Backgrounds -- */
.wj-content:not(.customEdit),
div[wj-part='cells'] {
  color: #082d43;
  background: #fcfcfc;
  background-image: -ms-linear-gradient(bottom, #dddddd 0%, #fcfcfc 100%);
  background-image: -moz-linear-gradient(bottom, #dddddd 0%, #fcfcfc 100%);
  background-image: -o-linear-gradient(bottom, #dddddd 0%, #fcfcfc 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #fcfcfc));
  background-image: -webkit-linear-gradient(bottom, #dddddd 0%, #fcfcfc 100%);
  background-image: linear-gradient(to top, #dddddd 0%, #fcfcfc 100%);
}
.wj-content:not(.customEdit) .wj-input-group .wj-form-control {
  color: #082d43;
  background: #fcfcfc;
  background-image: -ms-linear-gradient(bottom, #dddddd 0%, #fcfcfc 100%);
  background-image: -moz-linear-gradient(bottom, #dddddd 0%, #fcfcfc 100%);
  background-image: -o-linear-gradient(bottom, #dddddd 0%, #fcfcfc 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #fcfcfc));
  background-image: -webkit-linear-gradient(bottom, #dddddd 0%, #fcfcfc 100%);
  background-image: linear-gradient(to top, #dddddd 0%, #fcfcfc 100%);
}
.wj-listbox-item:not(.wj-state-selected):hover {
  background: rgba(0, 0, 0, 0.04);
}
/* -- Headers -- */
.wj-header {
  background: #033c73;
  color: #ffffff;
  background-image: -ms-linear-gradient(bottom, #033c73 0%, #055baf 100%);
  background-image: -moz-linear-gradient(bottom, #033c73 0%, #055baf 100%);
  background-image: -o-linear-gradient(bottom, #033c73 0%, #055baf 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #033c73), color-stop(1, #055baf));
  background-image: -webkit-linear-gradient(bottom, #033c73 0%, #055baf 100%);
  background-image: linear-gradient(to top, #033c73 0%, #055baf 100%);
}
.wj-flexgrid .wj-group {
  background: #777777;
  color: #dddddd;
}
.wj-flexgrid .wj-marker {
  background: #2a9fd6;
}
/* -- Grid -- */
div[wj-part='root'] {
  background: #efefef;
}
.wj-state-selected {
  background: #2a9fd6;
  color: #ffffff;
}
.wj-state-multi-selected {
  background: #77afc9;
  color: #ffffff;
}
.wj-input-group .wj-form-control,
.wj-grid-editor {
  background: #fff;
  color: #000000;
}
div[wj-part='rhcells'] .wj-header {
  background: #033c73;
}
.wj-cell:not(.wj-frozen-col):not(.wj-frozen-row):not(.wj-frozen) {
  border-right: 0px solid rgba(0, 0, 0, 0.2);
  border-bottom: 0px solid rgba(0, 0, 0, 0.2);
}
[dir="rtl"] .wj-cell {
  border-left: 0px solid rgba(0, 0, 0, 0.2);
}
.wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Default grid cell color */
  background: #fcfcfc;
}
.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate grid cell color */
  background: #efefef;
}
.wj-frozen:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Default frozen cell color */
  background: #e4ecf2;
  color: #082d43;
}
.wj-frozen.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate frozen cell color */
  background: #d3e0ea;
  color: #082d43;
}
.wj-frozen-row {
  border-bottom-color: #082d43;
  border-width: 0px;
}
.wj-frozen-col {
  border-right-color: #082d43;
  border-width: 0px;
}
/* -- Buttons -- */
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn {
  background: #70a438;
  color: #ffffff;
  background-image: -ms-linear-gradient(bottom, #70a438 0%, #8fc554 100%);
  background-image: -moz-linear-gradient(bottom, #70a438 0%, #8fc554 100%);
  background-image: -o-linear-gradient(bottom, #70a438 0%, #8fc554 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #70a438), color-stop(1, #8fc554));
  background-image: -webkit-linear-gradient(bottom, #70a438 0%, #8fc554 100%);
  background-image: linear-gradient(to top, #70a438 0%, #8fc554 100%);
}
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn:hover,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn:hover {
  background: #59822c;
  color: #ffffff;
}
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn:focus,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn:focus {
  background: #59822c;
  color: #ffffff;
}
.wj-content:not(.customEdit):not(.wj-dropdown-panel):not(.wj-listbox):not(.wj-flexgrid):not(.wj-calendar-outer) {
  border: 0px solid rgba(0, 0, 0, 0.2);
}
.wj-btn-default {
  border: 0px solid rgba(0, 0, 0, 0.2);
}
.wj-input-group-btn > .wj-btn {
  border: 0px;
}
/* -- Border Radii -- */
.wj-content,
.wj-input-group,
.wj-btn-group,
.wj-btn-group-vertical,
.wj-tooltip,
.customEdit {
  border-radius: 4px;
}
/* -- Tooltip -- */
.wj-tooltip {
  background: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* -- Gauges -- */
.wj-gauge .wj-pointer path {
  fill: #2a9fd6;
}
.wj-cell.wj-frozen {
  border: 0;
}

