/* -- Backgrounds -- */
.wj-content:not(.customEdit),
div[wj-part='cells'] {
  color: #ffffff;
  background: #0d2c45;
}
.wj-content:not(.customEdit) .wj-input-group .wj-form-control {
  color: #ffffff;
  background: #0d2c45;
}
.wj-listbox-item:not(.wj-state-selected):hover {
  background: rgba(255, 255, 255, 0.05);
}
/* -- Headers -- */
.wj-header {
  background: #000000;
  color: #ffffff;
  background-image: -ms-linear-gradient(bottom, #000000 0%, #1f1f1f 100%);
  background-image: -moz-linear-gradient(bottom, #000000 0%, #1f1f1f 100%);
  background-image: -o-linear-gradient(bottom, #000000 0%, #1f1f1f 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #1f1f1f));
  background-image: -webkit-linear-gradient(bottom, #000000 0%, #1f1f1f 100%);
  background-image: linear-gradient(to top, #000000 0%, #1f1f1f 100%);
}
.wj-flexgrid .wj-group {
  background: #87acca;
  color: #000000;
}
.wj-flexgrid .wj-marker {
  background: #19a26b;
}
/* -- Grid -- */
div[wj-part='root'] {
  background: #0d1e2b;
}
.wj-state-selected {
  background: #19a26b;
  color: #ffffff;
}
.wj-state-multi-selected {
  background: #85cfb1;
  color: #ffffff;
}
.wj-input-group .wj-form-control,
.wj-grid-editor {
  background: #fff;
  color: #000000;
}
div[wj-part='rhcells'] .wj-header {
  background: #000000;
}
.wj-cell:not(.wj-frozen-col):not(.wj-frozen-row):not(.wj-frozen) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
[dir="rtl"] .wj-cell {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Default grid cell color */
  background: #0d2c45;
}
.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate grid cell color */
  background: #113a5a;
}
.wj-frozen:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Default frozen cell color */
  background: #295744;
  color: #ffffff;
}
.wj-frozen.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate frozen cell color */
  background: #316852;
  color: #ffffff;
}
.wj-frozen-row {
  border-bottom-color: #ffffff;
  border-width: 1px;
}
.wj-frozen-col {
  border-right-color: #ffffff;
  border-width: 1px;
}
/* -- Buttons -- */
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn {
  background: #3b546b;
  color: #ffffff;
  background-image: -ms-linear-gradient(bottom, #3b546b 0%, #517392 100%);
  background-image: -moz-linear-gradient(bottom, #3b546b 0%, #517392 100%);
  background-image: -o-linear-gradient(bottom, #3b546b 0%, #517392 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3b546b), color-stop(1, #517392));
  background-image: -webkit-linear-gradient(bottom, #3b546b 0%, #517392 100%);
  background-image: linear-gradient(to top, #3b546b 0%, #517392 100%);
}
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn:hover,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn:hover {
  background: #4d6e8c;
  color: #ffffff;
}
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn:focus,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn:focus {
  background: #4d6e8c;
  color: #ffffff;
}
.wj-content:not(.customEdit):not(.wj-dropdown-panel):not(.wj-listbox):not(.wj-flexgrid):not(.wj-calendar-outer) {
  border: 0px solid rgba(0, 0, 0, 0.2);
}
.wj-btn-default {
  border: 0px solid rgba(0, 0, 0, 0.2);
}
.wj-input-group-btn > .wj-btn {
  border: 0px;
}
/* -- Border Radii -- */
.wj-content,
.wj-input-group,
.wj-btn-group,
.wj-btn-group-vertical,
.wj-tooltip,
.customEdit {
  border-radius: 0;
}
/* -- Tooltip -- */
.wj-tooltip {
  background: #e6edf2;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* -- Gauges -- */
.wj-gauge .wj-pointer path {
  fill: #19a26b;
}
.wj-frozen-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.wj-frozen-col {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

