/* -- Backgrounds -- */
.wj-content:not(.customEdit),
div[wj-part='cells'] {
  color: #261f15;
  background: #f6f5ed;
}
.wj-content:not(.customEdit) .wj-input-group .wj-form-control {
  color: #261f15;
  background: #f6f5ed;
}
.wj-listbox-item:not(.wj-state-selected):hover {
  background: rgba(0, 0, 0, 0.04);
}
/* -- Headers -- */
.wj-header {
  background: #604e31;
  color: #ffffff;
}
.wj-flexgrid .wj-group {
  background: #d2cabe;
  color: #000000;
}
.wj-flexgrid .wj-marker {
  background: #90a938;
}
/* -- Grid -- */
div[wj-part='root'] {
  background: #eae8e0;
}
.wj-state-selected {
  background: #90a938;
  color: #ffffff;
}
.wj-state-multi-selected {
  background: #c4cab0;
  color: #261f15;
}
.wj-input-group .wj-form-control,
.wj-grid-editor {
  background: #fff;
  color: #000000;
}
div[wj-part='rhcells'] .wj-header {
  background: #604e31;
}
.wj-cell:not(.wj-frozen-col):not(.wj-frozen-row):not(.wj-frozen) {
  border-right: 0 solid rgba(0, 0, 0, 0.2);
  border-bottom: 0 solid rgba(0, 0, 0, 0.2);
}
[dir="rtl"] .wj-cell {
  border-left: 0 solid rgba(0, 0, 0, 0.2);
}
.wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Default grid cell color */
  background: #f6f5ed;
}
.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate grid cell color */
  background: #eeecdc;
}
.wj-frozen:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Default frozen cell color */
  background: #e5e2cf;
  color: #261f15;
}
.wj-frozen.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate frozen cell color */
  background: #dcd8be;
  color: #261f15;
}
.wj-frozen-row {
  border-bottom-color: #261f15;
  border-width: 0;
}
.wj-frozen-col {
  border-right-color: #261f15;
  border-width: 0;
}
/* -- Buttons -- */
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn {
  background: #90a938;
  color: #ffffff;
}
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn:hover,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn:hover {
  background: #abc54f;
  color: #ffffff;
}
.wj-content:not(.customEdit) .wj-input-group-btn > .wj-btn:focus,
.wj-content:not(.customEdit) .wj-btn-group > .wj-btn:focus {
  background: #abc54f;
  color: #ffffff;
}
.wj-content:not(.customEdit):not(.wj-dropdown-panel):not(.wj-listbox):not(.wj-flexgrid):not(.wj-calendar-outer) {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.wj-btn-default {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.wj-input-group-btn > .wj-btn {
  border: 1px;
}
/* -- Border Radii -- */
.wj-content,
.wj-input-group,
.wj-btn-group,
.wj-btn-group-vertical,
.wj-tooltip,
.customEdit {
  border-radius: 0px;
}
/* -- Tooltip -- */
.wj-tooltip {
  background: #f2e9da;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* -- Gauges -- */
.wj-gauge .wj-pointer path {
  fill: #90a938;
}
.wj-cell.wj-frozen {
  border: 0;
}

