<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" type="text/css">
    <title>Supplier List</title>
    @Styles.Render("~/Content/System-css")
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-lg-2">
                <!-- side navbar menu -->
                <nav class="navbar navbar-default navbar-fixed-side">
                    <div class="container">
                        <div class="navbar-header">
                            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/Home">
                                <center>
                                    <img src="~/Images/logo/easyfislogo.png" class="img-responsive" />
                                </center>
                            </a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        User <b class="caret pull-right" style="margin-top: 7px;"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/Software/">
                                                <img src="~/Images/svgIcons/key.svg" class="svg-icon-style" /> Noah Oliver Rigonan
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Software/">
                                                <img src="~/Images/svgIcons/settings.svg" class="svg-icon-style" /> Manage Settings
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Software/">
                                                <img src="~/Images/svgIcons/medium_priority.svg" class="svg-icon-style" /> Change Password
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Software/">
                                                <img src="~/Images/svgIcons/import.svg" class="svg-icon-style" /> Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown second-child">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Company <b class="caret pull-right" style="margin-top: 7px;"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/Software/Company" class="profile-nowrap-text">
                                                <img src="~/Images/svgIcons/organization.svg" class="svg-icon-style" /> Cebu Innosoft Solutions Services Incorporated
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Software/Company" class="profile-nowrap-text">
                                                <img src="~/Images/svgIcons/organization.svg" class="svg-icon-style" /> Main Branch
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Setup <b class="caret pull-right" style="margin-top: 7px;"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="active"><a href="/Software/Supplier"><img src="~/Images/svgIcons/businessman.svg" class="svg-icon-style" /> Supplier</a></li>
                                        <li><a href="/Software/Customer"><img src="~/Images/svgIcons/conference_call.svg" class="svg-icon-style" /> Customer</a></li>
                                        <li><a href="/Software/Items"><img src="~/Images/svgIcons/paid.svg" class="svg-icon-style" /> Item</a></li>
                                        <li><a href="/Software/Bank"><img src="~/Images/svgIcons/library.svg" class="svg-icon-style" /> Bank</a></li>
                                        <li><a href="/Software/ChartOfAccounts"><img src="~/Images/svgIcons/todo_list.svg" class="svg-icon-style" /> Chart of Accounts</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Activity <b class="caret pull-right" style="margin-top: 7px;"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Software/PurchaseOrder"><img src="~/Images/svgIcons/inspection.svg" class="svg-icon-style" /> Purchase Order</a></li>
                                        <li><a href="/Software/ReceivingReceipt"><img src="~/Images/svgIcons/shipped.svg" class="svg-icon-style" /> Receiving Receipt</a></li>
                                        <li><a href="/Software/Sales"><img src="~/Images/svgIcons/approval.svg" class="svg-icon-style" /> Sales</a></li>
                                        <li><a href="/Software/Disbursement"><img src="~/Images/svgIcons/money_transfer.svg" class="svg-icon-style" /> Disbursement</a></li>
                                        <li><a href="/Software/Collection"><img src="~/Images/svgIcons/sales_performance.svg" class="svg-icon-style" /> Collection</a></li>
                                        <li><a href="/Software/StockIn"><img src="~/Images/svgIcons/internal.svg" class="svg-icon-style" /> Stock-In</a></li>
                                        <li><a href="/Software/StockOut"><img src="~/Images/svgIcons/external.svg" class="svg-icon-style" /> Stock-Out</a></li>
                                        <li><a href="/Software/StockTransfer"><img src="~/Images/svgIcons/refresh.svg" class="svg-icon-style" /> Stock Transfer</a></li>
                                        <li><a href="/Software/StockCount"><img src="~/Images/svgIcons/kindle.svg" class="svg-icon-style" /> Stock Count</a></li>
                                        <li><a href="/Software/JournalVoucher"><img src="~/Images/svgIcons/rules.svg" class="svg-icon-style" /> Journal Voucher</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        System <b class="caret pull-right" style="margin-top: 7px;"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Software/Company"><img src="~/Images/svgIcons/organization.svg" class="svg-icon-style" /> Company</a></li>
                                        <li><a href="/Software/Users"><img src="~/Images/svgIcons/key.svg" class="svg-icon-style" /> User</a></li>
                                        <li><a href="/Software/SystemTables"><img src="~/Images/svgIcons/grid.svg" class="svg-icon-style" /> System Tables</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Report <b class="caret pull-right" style="margin-top: 7px;"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Software/AccountsPayable"><img src="~/Images/svgIcons/print.svg" class="svg-icon-style" /> Accounts Payable</a></li>
                                        <li><a href="/Software/AccountsReceivable"><img src="~/Images/svgIcons/print.svg" class="svg-icon-style" /> Accounts Receivable</a></li>
                                        <li><a href="/Software/InventoryReport"><img src="~/Images/svgIcons/print.svg" class="svg-icon-style" /> Inventory Report</a></li>
                                        <li><a href="/Software/FinancialStatements"><img src="~/Images/svgIcons/print.svg" class="svg-icon-style" /> Financial Statements</a></li>
                                        <li><a href="/Software/BankReconciliation"><img src="~/Images/svgIcons/print.svg" class="svg-icon-style" /> Bank Reconciliation</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-sm-9 col-lg-10 no-padding">
                <div class="header-content">
                    <img src="~/Images/svgIcons/businessman.svg" class="svg-icon-style-header" />
                    <h4>
                        Supplier <small>List of Suppliers</small>
                    </h4>
                </div>
                <div id="content">
                    <!-- web content -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <table style="width: 100%" border="0">
                                <tr>
                                    <td style="width: 59%">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            <input type="text" class="form-control" id="inpFilterSupplier" placeholder="Filter">
                                        </div>
                                    </td>
                                    <td style="width: 1%"></td>
                                    <td style="width: 40%" align="right">
                                        <button class="btn btn-primary" id="btnAddSupplier" onclick="btnAddSupplierOnClick()"><i class="fa fa-plus"></i> Add</button>
                                        <button class="btn btn-danger" id="btnCloseSupplier" onclick="btnCloseSupplierOnClick()"><i class=" fa fa-times"></i> Close</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-body">
                            <div id="supplierFlexGrid"></div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group" id="naviagtionPageGrid">
                                        <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGrid">
                                            <span class="glyphicon glyphicon-fast-backward"></span>
                                        </button>
                                        <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGrid">
                                            <span class="glyphicon glyphicon-step-backward"></span>
                                        </button>
                                        <button type="button" class="btn btn-default border-custom" disabled style="width: 100px; cursor: default;" id="btnCurrentPageGrid"></button>
                                        <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGrid">
                                            <span class="glyphicon glyphicon-step-forward"></span>
                                        </button>
                                        <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGrid">
                                            <span class="glyphicon glyphicon-fast-forward"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- security stamp -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-key fa-fw"></i> User security stamp
                        </div>
                        <div class="panel-body user-stamp-styles">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Created by:</p>
                                    <div style="padding-left: 10px;">
                                        <i class="fa fa-key fa-fw"></i> &nbsp; <label id="supplierCreatedBy"> Please select a record.</label>
                                        <br />
                                        <small><i class="fa fa-calendar fa-fw"></i> &nbsp; &nbsp; <span id="supplierCreatedDate">Please select a record.</span></small>
                                    </div>
                                    <br />
                                </div>
                                <div class="col-md-6">
                                    <p>Updated by:</p>
                                    <div style="padding-left: 10px;">
                                        <i class="fa fa-key fa-fw"></i> &nbsp; <label id="supplierUpdatedBy">Please select a record.</label>
                                        <br />
                                        <small><i class="fa fa-calendar fa-fw"></i> &nbsp; &nbsp; <span id="supplierUpdatedDate">Please select a record.</span></small>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- supplier confirmation delete -->
    <div class="modal fade" id="deleteSupplierConfirm" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete </h4>
                </div>
                <div class="modal-body">
                    Delete Supplier?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="btnDeleteConfirmSupplier" onclick="btnDeleteConfirmSupplierOnclick()"><i class="fa fa-trash"></i> Delete</button>
                    <button class="btn btn-default" id="btnDeleteConfirmCloseButton" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // Global Variables
        var supplierCollectionView;
        var supplierFlexGrid;
        var btnFirstPageGrid;
        var btnPreviousPageGrid;
        var btnNextPageGrid;
        var btnLastPageGrid;
        var btnCurrentPageGrid;

        // get supplier list
        function getSupplierList() {
            NProgress.start();
            var suppliers = new wijmo.collections.ObservableArray;

            // get user rights for enabling and disabling buttons 
            $.ajax({
                url: '/api/user/rights/SupplierList',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userRightsResults) {
                    if (userRightsResults != null) {
                        var canAdd = false;
                        var canEdit = false;
                        var canDelete = false;
                        var canLock = false;
                        var canUnlock = false;
                        var canPrint = false;

                        if (!userRightsResults.CanAdd) {
                            canAdd = true;
                        }

                        if (!userRightsResults.CanEdit) {
                            canEdit = true;
                        }

                        if (!userRightsResults.CanDelete) {
                            canDelete = true;
                        }

                        if (!userRightsResults.CanLock) {
                            canLock = true;
                        }

                        if (!userRightsResults.CanUnlock) {
                            canUnlock = true;
                        }

                        if (!userRightsResults.CanPrint) {
                            canPrint = true;
                        }

                        // buttons
                        $('#btnAddSupplier').prop('disabled', canAdd);

                        $.ajax({
                            url: '/api/supplier/list',
                            cache: false,
                            type: 'GET',
                            contentType: 'application/json; charset=utf-8',
                            success: function (supplierListResults) {
                                if (supplierListResults.length > 0) {
                                    for (i = 0; i < supplierListResults.length; i++) {
                                        var editSupplierDisabed = "";
                                        if (canEdit) {
                                            editSupplierDisabed = "disabled"
                                        }

                                        var deleteSupplierDisabed = "";
                                        if (canDelete) {
                                            deleteSupplierDisabed = "disabled"
                                        }

                                        suppliers.push({
                                            BtnEdit: "<button class='btn btn-primary btn-xs btn-block' onclick='btnEditSupplierOnclick()'" + editSupplierDisabed + "><i class='fa fa-edit'></i> Edit</button>",
                                            BtnDelete: "<button class='btn btn-danger btn-xs btn-block' onclick='btnDeleteSupplierOnclick()'" + deleteSupplierDisabed + "><i class='fa fa-trash'></i> Delete</button>",
                                            Id: supplierListResults[i]["Id"],
                                            ArticleCode: supplierListResults[i]["ArticleCode"],
                                            Article: supplierListResults[i]["Article"],
                                            ArticleGroupId: supplierListResults[i]["ArticleGroupId"],
                                            ArticleGroup: supplierListResults[i]["ArticleGroup"],
                                            ContactNumber: supplierListResults[i]["ContactNumber"],
                                            IsLocked: supplierListResults[i]["IsLocked"],
                                            CreatedById: supplierListResults[i]["CreatedById"],
                                            CreatedBy: supplierListResults[i]["CreatedBy"],
                                            CreatedDateTime: supplierListResults[i]["CreatedDateTime"],
                                            UpdatedById: supplierListResults[i]["UpdatedById"],
                                            UpdatedBy: supplierListResults[i]["UpdatedBy"],
                                            UpdatedDateTime: supplierListResults[i]["UpdatedDateTime"]
                                        });
                                    }
                                }

                                NProgress.done();
                            }
                        });
                    }
                }
            });

            return suppliers;
        }

        // supplier add
        function btnAddSupplierOnClick() {
            document.getElementById('btnAddSupplier').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Adding";
            $('#btnAddSupplier').prop('disabled', true);
            $('#btnCloseSupplier').prop('disabled', true);

            var canAccessToDetailPage = "@ViewData["CanAccessToDetailPage"]";
            if (canAccessToDetailPage == "True") {
                $.ajax({
                    type: "POST",
                    url: '/api/addArticle/3',
                    contentType: "application/json; charset=utf-8",
                    success: function (id) {
                        if (id > 0) {
                            window.location = '/Software/SupplierDetail?SupplierId=' + id;
                        } else {
                            toastr.error("Internal Server Error");
                        }
                    }
                });
            } else if (canAccessToDetailPage == "False") {
                window.location = '/Software/Forbidden';
            } else {
                document.getElementById('btnAddSupplier').innerHTML = "<i class='fa fa-plus'></i> Add";
                $('#btnAddSupplier').prop('disabled', false);
                $('#btnCloseSupplier').prop('disabled', false);
            }
        }

        // supplier close
        function btnCloseSupplierOnClick() {
            window.location = '/Software';
        }

        // supplier edit
        function btnEditSupplierOnclick() {
            supplierCollectionView.editItem(supplierCollectionView.currentItem);
            var supplier = supplierCollectionView.currentEditItem;
            window.location = '/Software/SupplierDetail?SupplierId=' + supplier.Id;
        }

        // supplier delete
        function btnDeleteSupplierOnclick() {
            document.getElementById('btnDeleteConfirmSupplier').innerHTML = "<i class='fa fa-trash'></i> Delete";
            $('#btnDeleteConfirmSupplier').prop('disabled', false);
            $('#btnDeleteConfirmCloseButton').prop('disabled', false);

            $('#deleteSupplierConfirm').modal({
                show: true,
                backdrop: 'static'
            });
        }

        // supplier confirm delete button
        function btnDeleteConfirmSupplierOnclick() {
            document.getElementById('btnDeleteConfirmSupplier').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Deleting";
            $('#btnDeleteConfirmSupplier').prop('disabled', true);
            $('#btnDeleteConfirmCloseButton').prop('disabled', true);

            supplierCollectionView.editItem(supplierCollectionView.currentItem);
            var currentSupplier = supplierCollectionView.currentEditItem;
            if (currentSupplier.IsLocked) {
                toastr.error("Cannot delete when the record is locked.", "Delete Failed!");
                $('#deleteSupplierConfirm').modal('hide');
                document.getElementById('btnDeleteConfirmSupplier').innerHTML = "<i class='fa fa-trash'></i> Delete";
                $('#btnDeleteConfirmSupplier').prop('disabled', false);
                $('#btnDeleteConfirmCloseButton').prop('disabled', false);
            } else {
                $.ajax({
                    url: '/api/deleteArticle/' + currentSupplier.Id,
                    type: "DELETE",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    statusCode: {
                        200: function () {
                            document.getElementById('btnDeleteConfirmSupplier').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Deleting";
                            toastr.success("The record was successfully deleted.", "Delete Successful!");
                            $('#deleteSupplierConfirm').modal('hide');
                            refreshSupplierDataFlexgrid();
                        },
                        404: function () {
                            toastr.error("Not Found");
                            $('#deleteSupplierConfirm').modal('hide');
                            document.getElementById('btnDeleteConfirmSupplier').innerHTML = "<i class='fa fa-trash'></i> Delete";
                            $('#btnDeleteConfirmSupplier').prop('disabled', false);
                            $('#btnDeleteConfirmCloseButton').prop('disabled', false);
                        },
                        400: function () {
                            toastr.error("Bad Request");
                            $('#deleteSupplierConfirm').modal('hide');
                            document.getElementById('btnDeleteConfirmSupplier').innerHTML = "<i class='fa fa-trash'></i> Delete";
                            $('#btnDeleteConfirmSupplier').prop('disabled', false);
                            $('#btnDeleteConfirmCloseButton').prop('disabled', false);
                        }
                    }
                });
            }
        }

        // security stamp
        function updateSecurityStamp() {
            supplierCollectionView.editItem(supplierCollectionView.currentItem);
            var currentSupplier = supplierCollectionView.currentEditItem;
            document.getElementById('supplierCreatedBy').innerHTML = currentSupplier.CreatedBy;
            document.getElementById('supplierCreatedDate').innerHTML = currentSupplier.CreatedDateTime;
            document.getElementById('supplierUpdatedBy').innerHTML = currentSupplier.UpdatedBy;
            document.getElementById('supplierUpdatedDate').innerHTML = currentSupplier.UpdatedDateTime;
        }

        // navigation buttons for supplier
        function updateNavigateButtonsSupplier() {
            if (supplierCollectionView.pageSize <= 0) {
                document.getElementById('naviagtionPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('naviagtionPageGrid').style.display = 'block';
            if (supplierCollectionView.pageIndex === 0) {
                btnFirstPageGrid.setAttribute('disabled', 'disabled');
                btnPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            } else if (supplierCollectionView.pageIndex === (supplierCollectionView.pageCount - 1)) {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnLastPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            }
            btnCurrentPageGrid.innerHTML = (supplierCollectionView.pageIndex + 1) + ' / ' + supplierCollectionView.pageCount;
        }

        // refresh supplier flexgrid
        function refreshSupplierDataFlexgrid() {
            // collection view
            supplierCollectionView = new wijmo.collections.CollectionView(getSupplierList());
            supplierCollectionView.canFilter = true;
            supplierCollectionView.pageSize = 15;

            // filter
            var filterText = '';
            $('#inpFilterSupplier').keyup(function () {
                filterText = this.value.toLowerCase();
                supplierCollectionView.refresh();
            });

            supplierCollectionView.filter = function (item) {
                return !filterText || (item.Article.toLowerCase().indexOf(filterText) > -1)
                    || (item.ArticleCode.toLowerCase().indexOf(filterText) > -1)
                    || (item.ArticleGroup.toLowerCase().indexOf(filterText) > -1)
                    || (item.ContactNumber.toLowerCase().indexOf(filterText) > -1);
            }

            // navigation buttons
            supplierCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsSupplier();
            });

            // security stamp
            supplierCollectionView.currentChanged.addHandler(function (sender, args) {
                updateSecurityStamp();
            });

            // FlexGrid
            supplierFlexGrid.itemsSource = supplierCollectionView;
            supplierFlexGrid.trackChanges = true;
        }

        // supplier data
        function supplierDataFlexGrid() {
            // collection view
            supplierCollectionView = new wijmo.collections.CollectionView(getSupplierList());
            supplierCollectionView.canFilter = true;
            supplierCollectionView.pageSize = 15;

            // filter
            var filterText = '';
            $('#inpFilterSupplier').keyup(function () {
                filterText = this.value.toLowerCase();
                supplierCollectionView.refresh();
            });

            supplierCollectionView.filter = function (item) {
                return !filterText || (item.Article.toLowerCase().indexOf(filterText) > -1)
                    || (item.ArticleCode.toLowerCase().indexOf(filterText) > -1)
                    || (item.ArticleGroup.toLowerCase().indexOf(filterText) > -1)
                    || (item.ContactNumber.toLowerCase().indexOf(filterText) > -1);
            }

            // navigation buttons
            supplierCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsSupplier();
            });

            // security stamp
            supplierCollectionView.currentChanged.addHandler(function (sender, args) {
                updateSecurityStamp();
            });

            // Flex Grid
            supplierFlexGrid = new wijmo.grid.FlexGrid('#supplierFlexGrid');
            supplierFlexGrid.initialize({
                columns: [
                    {
                        "header": "Edit",
                        "binding": "BtnEdit",
                        "width": 70,
                        "align": "center",
                        "allowResizing": false,
                        "allowSorting": false,
                        "isContentHtml": true
                    },
                    {
                        "header": "Delete",
                        "binding": "BtnDelete",
                        "width": 70,
                        "align": "center",
                        "allowResizing": false,
                        "allowSorting": false,
                        "isContentHtml": true
                    },
                    {
                        "header": "L",
                        "binding": "IsLocked",
                        "allowSorting": true,
                        "width": 50
                    },
                    {
                        "header": "Code",
                        "binding": "ArticleCode",
                        "allowSorting": true,
                        "width": 100,
                    },
                    {
                        "header": "Supplier",
                        "binding": "Article",
                        "allowSorting": true,
                        "width": 300
                    },
                    {
                        "header": "Contact Number",
                        "binding": "ContactNumber",
                        "allowSorting": true,
                        "width": 200
                    },
                    {
                        "header": "Group",
                        "binding": "ArticleGroup",
                        "allowSorting": true,
                        "width": 250
                    }
                ],
                autoGenerateColumns: false,
                itemsSource: supplierCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            supplierFlexGrid.trackChanges = true;

            //Navigation button
            btnFirstPageGrid = document.getElementById('btnMoveToFirstPageGrid');
            btnPreviousPageGrid = document.getElementById('btnMoveToPreviousPageGrid');
            btnNextPageGrid = document.getElementById('btnMoveToNextPageGrid');
            btnLastPageGrid = document.getElementById('btnMoveToLastPageGrid');
            btnCurrentPageGrid = document.getElementById('btnCurrentPageGrid');

            updateNavigateButtonsSupplier();

            btnFirstPageGrid.addEventListener('click', function () {
                supplierCollectionView.moveToFirstPage();
                updateNavigateButtonsSupplier();
            });
            btnPreviousPageGrid.addEventListener('click', function () {
                supplierCollectionView.moveToPreviousPage();
                updateNavigateButtonsSupplier();
            });
            btnNextPageGrid.addEventListener('click', function () {
                supplierCollectionView.moveToNextPage();
                updateNavigateButtonsSupplier();
            });
            btnLastPageGrid.addEventListener('click', function () {
                supplierCollectionView.moveToLastPage();
                updateNavigateButtonsSupplier();
            });
        }

        // on-load page
        window.onload = function () {
            supplierDataFlexGrid();
        }
    </script>
</body>
</html>