body {
    background: #ffffff;
    font-family: Tahoma;
}

/* ========================= */
/* SOFTWARE DASHBOARD NAVBAR */
/* ========================= */
.navbar-inverse {
    background-color: #003366;
    transition: background-color 1s ease 0s;
}

    .navbar-inverse .navbar-brand {
        color: #FFFFFF;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #FFFFFF;
        /*transition: color 1s ease 0s;*/
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: #FFFFFF;
            background-color: #194775;
            /*transition: background-color 1s ease 0s;*/
        }

    .navbar-inverse .navbar-nav > .active {
        color: #FFFFFF;
        background-color: #194775;
    }
/* ======================== */
/* SOFTWARE DASHBOARD STYLE */
/* ======================== */
/*.btn-dashboard {
    font-family: Arial;
    display: block;
    margin-bottom: 1em;
    padding: 1em;
    border: none;
    background: none;
    color: inherit;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 5em;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Arial Rounded MT';
}

.btn-sale {
    font-family: Arial;
    display: block;
    margin-bottom: 1em;
    padding: 1em;
    padding-top: 3.5em;
    border: none;
    background: none;
    color: inherit;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    width: 100%;
    height: 11em;
    text-decoration: none;
    text-align: left;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Arial Rounded MT';
}

.btn-masterlist {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    text-decoration: none;
}

a:hover.btn-masterlist,
a:hover.btn-submenu,
a:hover.btn-reports {
    text-decoration: none;
    background-color: white;
}

.btn-submenu {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-reports {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.button--masterlist::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #048445;
    z-index: -1;
    opacity: 0;
    border-radius: 5px;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--masterlist:hover {
    color: #fff;
    border-color: #048445;
    border-radius: 5px;
}

.button--masterlist:focus {
    color: #fff;
    background-color: #048445;
    border-radius: 5px;
    text-decoration: none;
}

.button--masterlist:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.button--submenu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0057e7;
    z-index: -1;
    opacity: 0;
    border-radius: 5px;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--submenu:hover {
    color: #fff;
    border-color: #0057e7;
    border-radius: 5px;
}

.button--submenu:focus {
    color: #fff;
    background-color: #0057e7;
    border-radius: 5px;
    text-decoration: none;
}

.button--submenu:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.button--reports::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #de6f1b;
    z-index: -1;
    opacity: 0;
    border-radius: 5px;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--reports:hover {
    color: #fff;
    border-color: #de6f1b;
    border-radius: 5px;
}

.button--reports:focus {
    color: #fff;
    background-color: #de6f1b;
    border-radius: 5px;
    text-decoration: none;
}

.button--reports:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}*/

/* ================================= */
/* SIDE BAR MENUS AND WITH BOOTSTRAP */
/* ================================= */
a.sidebar-menu-link {
    color: #28aadc;
    text-decoration: none;
}

    a.sidebar-menu-link:hover {
        color: #FFFFFF;
        background-color: #0f3f6f;
        /*transition: background-color 1s ease 0s;*/
        text-decoration: none;
    }

    a.sidebar-menu-link:focus {
        color: #FFFFFF;
        background-color: #0f3f6f;
        text-decoration: none;
    }

a.menu-link-custom {
    background-color: #002c68;
    display: block;
    padding: 13px;
    color: #fff;
    padding: 13px;

}

    a.menu-link-custom:hover {
        background-color: #000d40;
    }

     a.menu-link-custom:focus {
        background-color: #011252;
    }

.panel-custom-menu {
    background-color: #194775;
    border: 0 !important;
}

.panel-group {
    margin-top: 5px;
}

.wrapper {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.c-menu {
    position: fixed;
    z-index: 200;
    background-color: #194775;
    transition: background-color 1s ease 0s;
    -webkit-transition: -webkit-transform 0.3s;
    /*transition: transform 0.3s;*/
}

.menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 5px;
}

.c-menu--push-left {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

@media all and (min-width: 320px) {
    .c-menu--push-left {
        width: 300px;
    }
}

.c-menu--push-left .c-menu__item {
    display: block;
}

    .c-menu--push-left .c-menu__item:first-child {
        border-top: none;
    }

    .c-menu--push-left .c-menu__item:last-child {
        border-bottom: none;
    }

.c-menu--push-left .menu-link {
    display: block;
    padding: 13px;
    color: #fff;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 13px;
    padding-left: 30px;
}

.c-menu--push-left .c-menu__close {
    display: block;
    padding: 15.5px;
    width: 100%;
}

.c-menu--push-left {
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

@media all and (min-width: 320px) {

    /*  .c-menu--slide-left,*/
    .c-menu--push-left {
        -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        transform: translateX(-300px);
    }
}

/*.c-menu--slide-left.is-active,*/
.c-menu--push-left.is-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.wrapper.has-push-left {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

@media all and (min-width: 320px) {
    .wrapper.has-push-left {
        -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
        transform: translateX(300px);
    }
}

.c-menu__close {
    color: #fff;
    background-color: #000846;
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
}

    .c-menu__close i {
        padding-left: 10px;
    }

.c-mask {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

    .c-mask.is-active {
        width: 100%;
        height: 100%;
        opacity: 0.7;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }

.c-menu--push-left .c-menu__close i:hover {
    opacity: 0.7;
}
/* ================== */
/* TRANSACTION STYLES */
/* ================== */
.textarea-custom {
    resize: initial;
    min-height: 5.5em;
}

dt {
    margin-top: 4px;
}

dd {
    margin-bottom: 9px;
}

/* ==================== */
/* SOFTWARE FOOTER PAGE */
/* ==================== */
.footer-space {
    padding-top: 5px;
    padding-bottom: 5px;
}

.cover-photo-footer-custom {
    padding-bottom: 5px;
    background-color: #003366;
    margin-top: 25px;
}

a.profile-name {
    text-decoration: none;
    font-size: 20px;
}

a:hover.profile-name {
    color: #69d2e7;
    text-decoration: none;
    transition: color 1s ease 0s;
}

.jumbotron {
    margin-top: 15px;
    border: 0 !important;
    border-radius: 0 !important;
    padding: 30px;
}

.comboBox-wide {
    width: 100%;
}

.comboBox-wide-custom {
    width: 305px;
}

.stampDetailCustom {
    color: #FFFFFF;
    font-weight: bold;
    margin: 0;
}

.labelUserDetailCustom {
    color: #b1b1b1;
    margin: 0;
}

a.currentPageLinkCustom {
    margin: 0;
    color: #000000;
}

    a.currentPageLinkCustom:hover {
        text-decoration: none;
        color: #3385FF;
        margin: 0;
    }

.logoStyle {
    margin-top: 4px;
    margin-bottom: 4px;
}

label {
    color: #534f4f;
}

.input-sm {
    font-size: 14px;
}


.dropdown-menu > li > a {
    padding: 7px 20px;
}


@media (min-width: 768px) {
    .navbar-form {
        margin-top: 21px;
        margin-bottom: 21px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar-search-form {
        display: none;
    }

    .navbar-nav > li > .dropdown-menu,
    .dropdown-menu {
        display: block;
        margin: 0;
        padding: 0;
        z-index: 9000;
        position: absolute;
        -webkit-border-radius: 10px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
        border-radius: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        opacity: 0;
        -ms-filter: "alpha(opacity=0)";
        -webkit-filter: alpha(opacity=0);
        -moz-filter: alpha(opacity=0);
        -ms-filter: alpha(opacity=0);
        -o-filter: alpha(opacity=0);
        filter: alpha(opacity=0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    }

    .navbar-nav > li.open > .dropdown-menu,
    .open .dropdown-menu {
        -webkit-transform-origin: 29px -50px;
        -moz-transform-origin: 29px -50px;
        -o-transform-origin: 29px -50px;
        -ms-transform-origin: 29px -50px;
        transform-origin: 29px -50px;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -ms-filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
    }

    .dropdown-menu:before {
        border-bottom: 11px solid rgba(0, 0, 0, 0.2);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 225px;
        margin-left: -60%;
        top: -11px;
    }

    .dropdown-menu:after {
        border-bottom: 11px solid #FFFFFF;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 222px;
        margin-left: -60%;
        top: -10px;
    }

    .account-dropdown-menu:after {
        border-bottom: 11px solid #FFFFFF;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 222px;
        margin-left: -60%;
        top: -10px;
    }
}

.dropdown-menu > li:first-child > a {
    border-radius: 10px 10px 0 0;
}

.dropdown-menu > li:last-child > a {
    border-bottom: 0 none;
    border-radius: 0 0 10px 10px;
}

.dropdown-custom {
    width: 100%;
    border-radius: 0 !important;
    background-color: #194775;
}

.sidebar-menu-close {
    color: red;
}

.well {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 20px;
    border: 0 !important;
    border-radius: 0 !important;
}

.div_Current_Page {
    border-bottom: 1px solid #e4dfdf;
    margin-top: 0 !important;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

a.branchNameStyle {
    color: #1f1f1f;
}

a:hover.branchNameStyle {
    color: #3385FF;
    text-decoration: none;
}

.accountReports {
    font-weight: bolder;
    font-size: 36.5px;
    font-family: Arial;
}

/* ===================== */
/* Main Menu with Panels */
/* ===================== */
.panel-green {
    border-color: #50ab50;
    background-color: #50ab50;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 8px 8px 7px #888888;
}

.panel-green-footer {
    color: #50ab50;
}

.panel-green:hover {
    border-color: #3c8a36;
    background-color: #3c8a36;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 8px 8px 7px #888888;
}

.panel-blue {
    border-color: #3b81be;
    background-color: #3b81be;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 8px 8px 7px #888888;
}

.panel-blue-footer {
    color: #3b81be;
}

.panel-blue:hover {
    border-color: #275f90;
    background-color: #275f90;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 8px 8px 7px #888888;
}

.panel-sales-custom-footer {
    margin-top: 135px;
}

.panel-orange {
    border-color: #d56d38;
    background-color: #d56d38;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 8px 8px 7px #888888;
}

.panel-orange-footer {
    color: #d56d38;
}

.panel-orange:hover {
    border-color: #b65422;
    background-color: #b65422;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 8px 8px 7px #888888;
}

.pill-custom {
    background-color: #f5f2f2;
    border-radius: 5px;
}

.btn-group-custom {
    margin-top: 5px;
}
