/* ========================= */
/* SOFTWARE DASHBOARD NAVBAR */
/* ========================= */
.navbar-inverse {
    background-color: #003366;
    transition: background-color 1s ease 0s;
}

    .navbar-inverse .navbar-brand {
        color: #FFFFFF;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #FFFFFF;
        transition: color 1s ease 0s;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: #FFFFFF;
            background-color: #194775;
            transition: background-color 1s ease 0s;
        }

    .navbar-inverse .navbar-nav > .active {
        color: #FFFFFF;
        background-color: #194775;
    }
/* ======================== */
/* SOFTWARE DASHBOARD STYLE */
/* ======================== */
.btn-dashboard {
    font-family: Arial;
    display: block;
    margin-bottom: 1em;
    padding: 1em;
    border: none;
    background: none;
    color: inherit;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 5em;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Arial Rounded MT';
}

.btn-sale {
    font-family: Arial;
    display: block;
    margin-bottom: 1em;
    padding: 1em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    width: 100%;
    height: 11em;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Arial Rounded MT';
}

.btn-masterlist {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    text-decoration: none;
}

a:hover.btn-masterlist,
a:hover.btn-submenu,
a:hover.btn-reports {
    text-decoration: none;
    background-color: white;
}

.btn-submenu {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-reports {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.button--masterlist::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #048445;
    z-index: -1;
    opacity: 0;
    border-radius: 5px;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--masterlist:hover {
    color: #fff;
    border-color: #048445;
    border-radius: 5px;
}

.button--masterlist:focus {
    color: #fff;
    background-color: #048445;
    border-radius: 5px;
    text-decoration: none;
}

.button--masterlist:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.button--submenu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0057e7;
    z-index: -1;
    opacity: 0;
    border-radius: 5px;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--submenu:hover {
    color: #fff;
    border-color: #0057e7;
    border-radius: 5px;
}

.button--submenu:focus {
    color: #fff;
    background-color: #0057e7;
    border-radius: 5px;
    text-decoration: none;
}

.button--submenu:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.button--reports::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #de6f1b;
    z-index: -1;
    opacity: 0;
    border-radius: 5px;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--reports:hover {
    color: #fff;
    border-color: #de6f1b;
    border-radius: 5px;
}

.button--reports:focus {
    color: #fff;
    background-color: #de6f1b;
    border-radius: 5px;
    text-decoration: none;
}

.button--reports:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* ================================= */
/* SIDE BAR MENUS AND WITH BOOTSTRAP */
/* ================================= */
a.sidebar-menu-link {
    color: #28aadc;
    text-decoration: none;
}

    a.sidebar-menu-link:hover {
        color: #FFFFFF;
        background-color: #003366;
        transition: background-color 1s ease 0s;
        text-decoration: none;
    }

    a.sidebar-menu-link:focus {
        color: #FFFFFF;
        background-color: black;
        text-decoration: none;
    }

.wrapper {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.c-menu {
    position: fixed;
    z-index: 200;
    background-color: #194775;
    transition: background-color 1s ease 0s;
    -webkit-transition: -webkit-transform 0.3s;
    /*transition: transform 0.3s;*/
}

.menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 5px;
}

.c-menu--push-left {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

@media all and (min-width: 320px) {
    .c-menu--push-left {
        width: 300px;
    }
}

.c-menu--push-left .c-menu__item {
    display: block;
}

    .c-menu--push-left .c-menu__item:first-child {
        border-top: none;
    }

    .c-menu--push-left .c-menu__item:last-child {
        border-bottom: none;
    }

.c-menu--push-left .menu-link {
    display: block;
    padding: 12px;
    color: #fff;
}

.c-menu--push-left .c-menu__close {
    display: block;
    padding: 15px;
    width: 100%;
}

.c-menu--push-left {
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

@media all and (min-width: 320px) {

    /*  .c-menu--slide-left,*/
    .c-menu--push-left {
        -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        transform: translateX(-300px);
    }
}

/*.c-menu--slide-left.is-active,*/
.c-menu--push-left.is-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.wrapper.has-push-left {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

@media all and (min-width: 320px) {
    .wrapper.has-push-left {
        -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
        transform: translateX(300px);
    }
}

.c-menu__close {
    color: #fff;
    background-color: #000846;
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
}

.c-mask {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

    .c-mask.is-active {
        width: 100%;
        height: 100%;
        opacity: 0.7;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }

/* ================== */
/* TRANSACTION STYLES */
/* ================== */
.textarea-custom-company {
    resize: initial;
    min-height: 7.7em;
}

.textarea-custom-branch {
    resize: initial;
    min-height: 7em;
}

dt {
    margin-top: 4px;
}

dd {
    margin-bottom: 9px;
}

/* ==================== */
/* SOFTWARE FOOTER PAGE */
/* ==================== */
.footer-space {
    padding-top: 5px;
    padding-bottom: 5px;
}

.cover-photo-footer-custom {
    padding-bottom: 5px;
    background-color: #003366;
    margin-top: 25px;
}

a.profile-name {
    text-decoration: none;
    font-size: 20px;
}

a:hover.profile-name {
    color: #69d2e7;
    text-decoration: none;
    transition: color 1s ease 0s;
}

.well {
    margin-top: 5px;
}

.comboBox-wide {
    width: 100%;
}

.stampDetailCustom {
    color: #FFFFFF;
    font-weight: bold;
    margin: 0;
}

.labelUserDetailCustom {
    color: #b1b1b1;
    margin: 0;
}

a.currentPageLinkCustom {
    color: #b1b1b1;
    margin: 0;
}

    a.currentPageLinkCustom:hover {
        color: #FFFFFF;
        font-weight: bold;
        margin: 0;
    }

.logoStyle {
    margin-top: 4px;
    margin-bottom: 4px;
}

label {
    color: #534f4f;
}

.textarea-custom-JV {
    resize: initial;
    min-height: 7.7em;
}

.input-sm {
    font-size: 14px;
}
