body.loginPage {
    padding-top: 20px;
}

body {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

#gmap_canvas img {
    max-width: none !important;
    background: none !important;
}

html.home-html-height,
body.home-body-height {
    height: 100%;
}

html.account-html-custom {
    position: relative;
    min-height: 100%;
}

body.account-body-custom {
    margin-bottom: 150px;
}

hr {
    border-width: 3px;
}

    hr.light {
        border-color: #fff;
    }

p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 1.5;
}

section.aboutSection {
    padding: 60px 0;
}

.carousel {
    padding-top: 50px;
    padding-bottom: 50px;
}

.filter {
    opacity: 0.6;
}

.filter:hover {
    opacity: 1;
    transition: all 0.2s;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    box-shadow: 0px 0px 5px 1px;
    border-bottom: 0px !important;
}

.navbar-brand > img {
    margin-top: 5px;
    height: 30px;
    width: 100px;
}

.navbar-default .navbar-header .navbar-brand {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-default .nav > li > a {
    font-size: 14px;
    font-weight: 700;
}

    .navbar-default .nav > li > a:hover {
        background-color: #e1e1e1;
    }

.navbar-default .navbar-toggle {
    border-color: #112540;
    background-color: #112540;
}

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        border-color: #112540;
        background-color: #112540;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }

    .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #ffffff;
    }

header.homeHeader {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    background-image: url("../Images/coverImages/header2.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

    header.homeHeader .header-content {
        position: relative;
        width: 100%;
        padding: 100px 15px;
        text-align: center;
    }

        header.homeHeader .header-content .header-content-inner h1 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 500%;
            text-transform: uppercase;
            font-weight: 700;
            text-shadow: 1px 5px 10px #000;
        }

        header.homeHeader .header-content .header-content-inner hr {
            margin: 30px auto;
        }

        header.homeHeader .header-content .header-content-inner p {
            margin-bottom: 50px;
            font-size: 16px;
            font-weight: 300;
            color: rgba(255,255,255,.7);
        }

@media(min-width:768px) {
    header.homeHeader {
        min-height: 100%;
    }

        header.homeHeader .header-content {
            position: absolute;
            top: 50%;
            padding: 0 50px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

            header.homeHeader .header-content .header-content-inner {
                margin-right: auto;
                margin-left: auto;
                max-width: 1000px;
            }

                header.homeHeader .header-content .header-content-inner p {
                    margin-right: auto;
                    margin-left: auto;
                    max-width: 80%;
                    font-size: 18px;
                }
}

.btn-xl {
    padding: 20px 30px;
}

.footer-custom {
    background-color: #d7d7d7;
    padding: 20px;
    color: #383838;
}

.footer-custom-userAuthentication {
    background-color: #d7d7d7;
    color: #383838;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.contact-section {
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: #112540;
}

.text-white {
    color: #fff;
}

.section-pad-a {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #efefef;
}

.feature-item {
    font-style: normal;
    color: #656565;
}

.section-pad-b {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #fff;
}

.manageDivider {
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


.nav-tabs {
    background-color: #f5f5f5;
    border-bottom-color: #337ab7;
    border-bottom-style: solid;
    border-width: 3px;
}

    .nav-tabs > li > a:hover {
        border-bottom-color: #337ab7;
        border-bottom-style: solid;
        color: #75a7d2;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        background-color: #337ab7 !important;
        border-color: #2e6da4;
        color: #fff;
        box-shadow: none;
    }



.pill-custom {
    background-color: #f5f2f2;
}

dt {
    margin-top: 4px;
}

dd {
    margin-bottom: 9px;
}

.secStyle {
    background-color: #ecf0f5;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

    .box.box-primary {
        border-top-color: #3c8dbc;
    }

    .box.box-info {
        border-top-color: #00c0ef;
    }

    .box.box-danger {
        border-top-color: #dd4b39;
    }

    .box.box-warning {
        border-top-color: #f39c12;
    }

    .box.box-success {
        border-top-color: #00a65a;
    }

    .box.box-default {
        border-top-color: #d2d6de;
    }

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.modal-header {
    background-color: #f2f2f2;
    box-shadow: 0px 4px 10px -8px #000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.popover-ol {
    display: block; 
    padding-left: 15px;
}

.popover-ol > li {
    padding-top: 10px;
}

.panel-theme {
    background-color: #112540;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.1s ease;
    padding-bottom: 15px;
    text-align: center;
}

.panel-theme-red {
    background-color: #950f10;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.1s ease;
    padding-bottom: 15px;
    text-align: center;
}

.launchSoftware {
    font-size: 15px; 
    font-weight: bold;
}
