.body-top-indent {
    padding-top: 100px;
}

/* ============================================= */
/* CUSTOMIZE BOOTSTRAP NAVBAR AND DROPDOWN MENUS */
/* ============================================= */
.navbar-transparent .navbar-brand {
    color: #FFFFFF;
}

.navbar-header {
    padding-top: 15px;
    text-align: center;
}

.navbar-transparent .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFFFFF;
}

.navbar-transparent .navbar-nav > li > a:hover {
    color: #0099CC;
    text-shadow: 1px 1px 2px #FFFFFF;
    background-color: transparent;
    transition: color 1s ease 0s;
}

.navbar-transparent .navbar-nav > li > a:focus {
    background-color: transparent;
    transition: color 1s ease 0s;
}

.navbar-transparent .navbar-nav > .active {
    color: #FFFFFF;
    background-color: transparent;
}

/* Navbar with opaque class which will be attached on scroll */
.navbar.opaque {
    background-color: #003366;
    transition: background-color 1s ease 0s;
}

.navbar.opaque .navbar-brand {
    color: #FFFFFF;
}

.navbar.opaque .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFFFFF;
    transition: color 1s ease 0s;
}

.navbar.opaque .navbar-nav > li > a:hover {
    color: #FFFFFF;
    background-color: #194775;
    transition: background-color 1s ease 0s;
}

.navbar.opaque .navbar-nav > .active {
    color: #FFFFFF;
    background-color: #194775;
}

/* Navbar and Dropdown */
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle {
    background-color: transparent;
}

.dropdown-menu > li > a {
    padding: 7px 20px;
    color: #333333;
}

.navbar-toggle {
    border: 0;
}

    .navbar-toggle .icon-bar {
        background-color: #FFFFFF;
    }

@media (min-width: 768px) {
    .navbar-form {
        margin-top: 21px;
        margin-bottom: 21px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar-search-form {
        display: none;
    }

    .navbar-nav > li > .dropdown-menu,
    .dropdown-menu {
        display: block;
        margin: 0;
        padding: 0;
        z-index: 9000;
        position: absolute;
        -webkit-border-radius: 10px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
        border-radius: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        opacity: 0;
        -ms-filter: "alpha(opacity=0)";
        -webkit-filter: alpha(opacity=0);
        -moz-filter: alpha(opacity=0);
        -ms-filter: alpha(opacity=0);
        -o-filter: alpha(opacity=0);
        filter: alpha(opacity=0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    }

    .navbar-nav > li.open > .dropdown-menu,
    .open .dropdown-menu {
        -webkit-transform-origin: 29px -50px;
        -moz-transform-origin: 29px -50px;
        -o-transform-origin: 29px -50px;
        -ms-transform-origin: 29px -50px;
        transform-origin: 29px -50px;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -ms-filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
    }

    .dropdown-menu:before {
        border-bottom: 11px solid rgba(0, 0, 0, 0.2);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 130px;
        margin-left: -60%;
        top: -11px;
    }

    .dropdown-menu:after {
        border-bottom: 11px solid #FFFFFF;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 130px;
        margin-left: -60%;
        top: -10px;
    }

    .account-dropdown-menu:before {
        border-bottom: 11px solid rgba(0, 0, 0, 0.2);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 220px;
        margin-left: -60%;
        top: -11px;
    }

    .account-dropdown-menu:after {
        border-bottom: 11px solid #FFFFFF;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        left: 220px;
        margin-left: -60%;
        top: -10px;
    }
}

.dropdown-menu > li:first-child > a {
    border-radius: 10px 10px 0 0;
}

.dropdown-menu > li:last-child > a {
    border-bottom: 0 none;
    border-radius: 0 0 10px 10px;
}


@media (max-width: 768px) {
    .navbar-transparent {
        background-color: rgba(0, 0, 0, 0.50);
    }

    .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-transparent .dropdown-menu > li > a:focus,
    .navbar-transparent .dropdown-menu > li > a:hover,
    [class*="navbar-ct"] .dropdown-menu > li > a:focus,
    [class*="navbar-ct"] .dropdown-menu > li > a:hover {
        transition: color 1s ease 0s;
        background-color: transparent;
        color: #FFFFFF;
        opacity: 1;
    }

    .navbar-transparent .navbar-nav .open .dropdown-menu > li > a,
    [class*="navbar-ct"] .dropdown-menu > li > a {
        color: #FFFFFF;
        opacity: 0.8;
    }

    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color: rgba(0,0,0,0);
        border-color: #428BCA;
    }
}

/* ============================== */
/* COVER PHOTO IN THE HEADER PAGE */
/* ============================== */
.cover-photo-custom {
    padding-top: 250px;
    padding-bottom: 250px;
    width: 100%;
    text-align: center;
    color: #f8f8f8;
    font-family: Georgia;
    background: url(../images/coverImages/cover7.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
}
/* Header row width */
.intro-divider {
    max-width:50px;
    border-style:solid;
    border-color: #63ace5;
    border-width: 2px;
}
/* btn leranmore */
.btn-custom {
    margin-bottom: 25px;
}

/* =============================== */
/* COVER PHOTO IN THE SUPPORT PAGE */
/* =============================== */
.cover-photo-support-custom {
    padding-top: 30px;
    padding-bottom: 50px;
    color: #f8f8f8;
    width: 100%;
    background: url(../images/coverImages/cover4.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
}

/* ============================== */
/* COVER PHOTO IN THE FOOTER PAGE */
/* ============================== */
.cover-photo-footer-custom {
    padding-top: 100px;
    padding-bottom: 10px;
    background-color: #e7eff6;
    color: black;
}

/* =========== */
/* FOOTER ICON */
/* =========== */
icon-custom {
   display: block;
   padding-left: 50%;
   padding-right: -50%;
}

/* ============================= */
/* COVER PHOTO IN THE LOGIN PAGE */
/* ============================= */
.cover-login-photo-custom {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    background: url(../images/coverImages/cover8.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
}

/* ================================ */
/* COVER PHOTO IN THE REGISTER PAGE */
/* ================================ */
.cover-register-photo-custom {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    background: url(../images/coverImages/cover8.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
}


/* =================== */
/* CUSTOMIZE PARAGRAPH */
/* =================== */
.custom-lead {
    font-size: 17px;
    text-align: justify;
    font-family: tahoma;
}

/* ============================= */
/* CUSTOMIZE BOOTSTRAP SCROLLSPY */
/* ============================= */
.section-padding-top {
    padding-top: 100px;
    padding-bottom: 80px;
}

.featurette-divider {
    border: 1px solid #F0F0F0;
}

/* ============================= */
/* BOOTSTRAP FORM FOR LOGIN FORM */
/* ============================= */
.panel-footer-custom {
    float: right;
}

.panel-title {
    font-weight: bolder;
    font-family: Arial;
    text-align: justify;
}

/* Button Circle */
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.help-block ul {
    list-style-type: none;
    margin-left: -40px;
}

.text-danger {
    color: red;
}

/* ===================== */
/* MANAGE ACCOUNT STYLES */
/* ===================== */
a:link.profile-name, a:visited.profile-name {
    color: #555539;
    font-size: 25px;
    font-family: Georgia;
    font-weight: 400;
}
a:hover.profile-name, a:active.profile-name, a:focus.profile-name {
    text-decoration: none;
}

.profile-details {
    color: #3385FF;
    font-size: 15px;
    font-family: Arial;
}

.change-password-success {
    color: #009900;
    font-size: 20px;
    float: right;
}

/* User FOrm */
dt {
    margin-top: 5px;
}
dd {
    margin-bottom: 10px;
}

.textarea-custom-profile {
    resize: initial;
    min-height: 7em;  
}


