.navbar-default {
    margin-bottom: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar-fixed-side {
        margin-left: -15px;
        margin-right: -15px
    }
}

.navbar-brand > center > img {
    margin-top: 5px;
    height: 30px;
    width: 100px;
}

.navbar-default .navbar-header .navbar-brand {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-content {
    float: left;
    background: #f8f8f8;
    border-left: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 51px;
    margin-top: 51px;
    margin-bottom: 20px;
    box-shadow: 4.5px 0px 5px 0px;
    position: fixed;
    z-index: 10;
}

#content {
    padding-top: 115px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .navbar-fixed-side {
        position: fixed;
        margin: 0 -15px;
        height: 100vh;
        width: inherit;
        overflow: auto;
        border-top-width: 0;
        border-bottom-width: 0;
        border-right-width: 0;
        border-radius: 0;
        padding-bottom: 20px;
        box-shadow: 0px 0px 5px 0px;
    }

        .navbar-fixed-side::-webkit-scrollbar {
            width: 10px;
            background-color: #F5F5F5;
            opacity: 0.75;
            transition: 1s all;
        }

        .navbar-fixed-side::-webkit-scrollbar-thumb {
            background-color: #eeeeee;
            opacity: 0.5;
            transition: 1s all;
        }

        .navbar-fixed-side::-webkit-scrollbar-thumb:hover {
            background-color: #e0e0e0;
            opacity: 0.5;
            transition: 1s all;
        }

    .navbar-fixed-side .container, .navbar-fixed-side .container-fluid {
        width: auto;
        padding-left: 0;
        padding-right: 0
    }

        .navbar-fixed-side .navbar-header {
            position: fixed;
            padding-left: 45px;
            width: 100%;
            background: #f8f8f8;
            z-index: 1000;
            border-bottom: 1px solid #e7e7e7;
        }

        .navbar-fixed-side .navbar-brand {
            height: auto;
        }

    .navbar-fixed-side > .container .navbar-brand, .navbar-fixed-side > .container-fluid .navbar-brand {
        margin-left: 0
    }

    .navbar-fixed-side .navbar-collapse {
        width: 100%;
        margin-top: 50px;
        border-top: 1px solid #e7e7e7;
    }

    .navbar-fixed-side .navbar-nav {
        float: none;
        margin: 0 -15px
    }

        .navbar-fixed-side .navbar-nav > li {
            float: none
        }

            .navbar-fixed-side .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
                font-weight: bold;
                /*border-bottom: 1px solid #e7e7e7*/
            }

    .navbar-fixed-side .navbar-form {
        margin: 0;
        margin-left: -15px;
        margin-right: -15px;
        padding: 10px 15px;
        border-bottom: 1px solid #e7e7e7
    }

    .navbar-fixed-side .navbar-text {
        float: none;
        margin-left: 0;
        margin-right: 0
    }

    .navbar-fixed-side .navbar-left, .navbar-fixed-side .navbar-right {
        float: none !important
    }

    .navbar-fixed-side .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        /*border-bottom: 1px solid #e7e7e7;*/
    }

        .navbar-fixed-side .navbar-nav > li:first-child,
        .navbar-fixed-side .navbar-nav > li.second-child {
            border-bottom: 1px solid #e7e7e7;
        }

        .navbar-fixed-side .navbar-nav .dropdown-menu > li > a, .navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px
        }

        .navbar-fixed-side .navbar-nav .dropdown-menu > li > a {
            line-height: 28px;
            color: #777;
        }

            .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:hover, .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:focus {
                background-image: none
            }

        .navbar-fixed-side .navbar-nav .dropdown-menu > .active > a {
            background-color: #112540;
            color: #fff;
        }

        .navbar-fixed-side .navbar-nav .dropdown-menu > .active > a:hover {
            background-color: #112540;
            color: #fff;
        }

        .navbar-fixed-side .navbar-nav > li > a:hover, .navbar-fixed-side .navbar-nav > li > a:focus, .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:hover, .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:focus {
            background-color: #e7e7e7;
            color: #333
        }

    .navbar-fixed-side .dropdown > .dropdown-toggle, .navbar-fixed-side .dropdown-menu > .dropdown-header {
        background-color: transparent !important;
        color: #9d9d9d !important;
        cursor: default;
        font-size: 0.8em;
        text-transform: uppercase;
        border-bottom: none;
        padding-bottom: 0
    }

    .navbar-fixed-side .dropdown-toggle .caret {
        display: none
    }

    .navbar-fixed-side .dropdown-menu {
        display: block
    }

    .navbar-fixed-side.navbar-inverse .navbar-collapse, .navbar-fixed-side.navbar-inverse .navbar-nav > li > a, .navbar-fixed-side.navbar-inverse .navbar-form, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu {
        border-color: #363636
    }

    .navbar-fixed-side.navbar-inverse .divider {
        background-color: #363636
    }

        .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li > a {
            color: #9d9d9d;
            font-weight: bold;
        }

        .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > .active > a {
            background-color: #090909;
            color: #fff;
            font-weight: bold;
        }

        .navbar-fixed-side.navbar-inverse .navbar-nav > li:not(.active) > a:hover, .navbar-fixed-side.navbar-inverse .navbar-nav > li:not(.active) > a:focus, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li:not(.active) > a:hover, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li:not(.active) > a:focus {
            background-color: #2f2f2f;
            color: #fff;
        }

        .navbar-fixed-side.navbar-inverse .dropdown > .dropdown-toggle {
            color: #777777 !important;
        }

    .navbar-brand > center > img {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 30px;
        width: 100px;
    }

    .header-content {
        float: left;
        background: #f8f8f8;
        border-bottom: 1px solid #e7e7e7;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        height: 51px;
        position: fixed;
        z-index: 1000;
        margin-top: 0px;
    }

    #content {
        padding-top: 65px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.profile-nowrap-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.svg-icon-style {
    height: 25px;
    float: left;
    margin-top: 1.5px;
    margin-right: 10px;
}

.svg-icon-style-header {
    height: 25px;
    margin-right: 10px;
    float: left;
    margin-top: 6px;
}

@media screen and (max-width: 600px) {
    table {
        width: 100%;
    }

    thead {
        display: none;
    }

    tbody td {
        width: 100% !important;
        display: block;
        text-align: center;
    }

        tbody td > button,
        tbody td > input,
        tbody td > div {
            width: 100% !important;
            margin-bottom: 2px !important;
        }

        tbody td:before {
            content: attr(data-th);
            display: block;
            text-align: center;
        }
}

